<div  class="dashboardNotifier bg-primary">
	<omni-nav-history></omni-nav-history>
	<local-time ng-cloak class="pull-right hidden-xs"></local-time>
</div>
<div  class="dashboardOptions darkGray" style="height:36px;">
</div>
<div class="row">
    <div class="col-md-12">	
    	<lock-status lock-data="lockData"></lock-status>
    </div>
</div>
<div class="row" style="margin-left:38px;">
    <div class="col-md-12">
		<h1><i class="fa fa-edit"></i> Site Commissioning Wizard</h1>
		<p class="lead">Omniboard will walk you through a few simple steps to get your new site up and running quickly.</p>
		<ul class='nav nav-wizard'>
			
			<li ng-class="{active:activeStep==1}"><a href="">Select Model</a></li>
			<li ng-class="{active:activeStep==2}"><a href="">Select Pending</a></li>
			<li ng-class="{active:activeStep==3}"><a href="">Verifu</a></li>
		</ul>
		<br>
		
		ItemsPending
		{{itemsPending}}

    </div>
</div>