<div class="modal-header bg-primary">
    <button type="button" class="close" ng-click="closeDialog()" aria-hidden="true">&times;</button>
    <h4 class="modal-title"><i class="fa fa-tachometer"></i> Add {{requestedType}} Type</h4>
</div>
<div class="modal-body">
    <form role="form">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="name">Type Name</label>
                    <input name="name" ng-model="typeName.Name" class="form-control" />
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <span class="pull-left"><img src="/assets/omniboard.png"></span>
    <button type="button" class="btn btn-primary" ng-click="save()"><i class="fa fa-save"></i> Save</button>
    <button type="button" class="btn btn-danger" ng-click="closeDialog()"><i class="fa fa-times-circle-o"></i> Close</button>
</div>