<div class="row" ng-if="lockData">
	<div class="col-md-12">
		<h3 class="lead text-muted"><strong>
			<i  ng-if="lockData.isEditable && !lockData.lockedByYou" class="fa fa-unlock-alt"></i>
			<i  ng-if="!lockData.isEditable || lockData.lockedByYou" class="fa fa-lock"></i>

			Locked :</strong>
			<span class="text-primary"  ng-if="diffInMinutes > 1">{{diffInMinutes}} min ago</span>
			<span class="text-primary" ng-if="diffInMinutes < 1">now </span>
			By:
			<span class="text-primary" ng-if="lockData.lockedByYou">you</span>
			<span class="text-primary" ng-if="!lockData.lockedByYou">{{lockData.lockedBy}}</span>
		</h3>
	</div>
</div>