<div  class="dashboardNotifier bg-primary">
	<omni-nav-history></omni-nav-history>
	<local-time ng-cloak class="pull-right hidden-xs"></local-time>
</div>
<div  class="dashboardOptions darkGray" style="height:36px;">

</div>
<div style="margin-left:20px; margin-right:20px; padding-left: 38px;">
	<div class="row">
	    <div class="col-md-10">
	        <h1><i class="fa fa-gears"></i> Expressions</h1>
	    </div>
	    <div class="col-md-2">
			<div class="text-right">
				<br>
				<button 
					type="button" 
					class="btn btn-primary" 
					ui-sref="auth.expressionEdit({ name: null })" >
						<i class="fa fa-plus-circle"></i> New Expression
				</button>
			</div>    	
	    </div>    
	</div>
	<div class="row" >
	    <div class="col-md-12">
		</div>
		<div class="list-group">
		  <a ng-repeat="(name,b) in expressions" href="" ng-click="goToExpression(name)" class="list-group-item">{{name}} <span class="text-success" ng-if="savedData.Name == name">Saved</spn></a>
		</div>
	</div>
</div>