<li ng-class="{clearfix:true}">
	<i ng-class="{ 'fa-li':true, fa:true, 'fa-cube':!query.valueProp, 'fa-eye':query.valueProp}"></i>
		<div class="pull-right" ng-if="query.modelName">
				<button  type="button" class="btn btn-sm btn-primary" title="Subquery" data-content="content" data-template="Expressions/templates/popform.tpl.html" data-animation="am-flip-x" bs-popover>
					<i class="fa fa-level-down"></i>
				</button>
				<button ng-if="parentQueries" type="button" class="btn btn-sm btn-danger" ng-click="removeQuery()" title="Remove Query">
					<i class="fa fa-trash-o"></i>
				</button>
				<button ng-if="query.valueProp" type="button" class="btn btn-sm btn-warning" ng-click="addOperandToExpression()" title="Add operand to Expression">
					<i class="fa fa-bolt"></i>
				</button>						
		</div>

		<span>For every 
			<span ng-class="{label:true, 'label-primary':!query.valueProp, 'label-info':query.valueProp}">{{query.modelName}}</span> 
			<span ng-if="query.modelTypeName">of type 
				<span ng-class="{label:true, 'label-primary':!query.valueProp, 'label-info':query.valueProp}">{{query.modelTypeName}}</span>
			</span>
			<span ng-if="query.valueProp">watch 
				<span ng-class="{label:true, 'label-success':true}">{{query.valueProp}}</span>
			</span>			
		</span>	

		<br><br>
</li>