<div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3"> 
							<!--Sites List-->
							<select class="form-control">
							  <option>Select a Site</option>
							</select>
							<div class="panel panel-default">
								<div class="panel-body">
									<!---Loads that are active-->
								</div>
							</div>
						</div>
						<div class="col-md-9">
							<div class="row">
								<div class="col-md-4">
									<!---kW-->
								</div>
								<div class="col-md-4">
									<!---kWh-->
								</div>
								<div class="col-md-4">
									<!--kW used over last hour-->
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<!---Energy Trend-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
