<div>
	<div  class="dashboardNotifier bg-primary">
		<omni-nav-history></omni-nav-history>
		<local-time ng-cloak class="pull-right hidden-xs"></local-time>
	</div>
<div  class="dashboardOptions darkGray" style="height:36px;">
	<span class="text-muted"><a href="" ng-click="toggleNav()"   
  ><i class="fa fa-lg" ng-class="{'fa-chevron-circle-down': omniNavSettings.isShown(), 'fa-chevron-circle-right' : !omniNavSettings.isShown()}"></i></a> Menu</span>
</div>
	<div class="row" style="margin:0px; margin-top:30px; padding-left: 38px;">
		<div class="col-md-12">
			<div class="panel panel-default darkGray">
				<div class="panel-heading">
					<span ><a href="#/dashboard/Energy/Site/" class="btn btn-xs btn-primary" style="margin-right:3px"><i class="fa fa-arrow-circle-left"></i> Return to Energy</a></span>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3" style="padding-right:20px; margin-top:14px; "> 
							<!--Sites List-->
							<label for="SiteName">Model</label><br />
							<select class="form-control" name="SiteName" ng-model="SiteName" 
								ng-options="key as type.Name for (key,type) in siteNames" 
								ng-change="fetchData(SiteName)">
								<option value="" selected="selected">Select A Site</option>
							</select>
							<div class="panel panel-default" style="margin-top:10px;color: #000;">
								<div class="panel-body" ng-if="errorLoading">
									<!---Loads that are active-->	
									No Data Available for Site {{selectedSite.Name}}							
								</div>
								<div class="panel-body">
									<div style="height:300px; overflow:scroll">
										<div ng-if="!showUsage">
											<h3><i class="fa fa-info-circle"></i> Active Loads</h3>
											<p class="slick">Select a site from the dropdown menu above.<br/><br/> A trend of that site's energy usuage over the last 24 hours will appear on the right.<br/><br/>  Hover over a point in the trend to see what points were in demand at that point in time.</p>
										</div>
										<table class="table" ng-if="showUsage">
											<th>Name</th>
											<th>Value</th>
											<tr ng-repeat="(id,data) in energyUsage track by id" ng-hide="getLoadValueName(data.name, data.data[selectUsagePoints]) == 'OFF' || getLoadValueName(data.name, data.data[selectUsagePoints]) == 0">
												<td>{{data.name}}
												<span class="label label-default pull-right" ng-class="{'label-success' : getLoadValueName(data.name, data.data[selectUsagePoints]) == 'ON'}">{{getLoadValueName(data.name, data.data[selectUsagePoints])}}</span>
												</td>

											</tr>
										</table>
									<!--<div ng-repeat="(id,data) in energyUsage" ng-if="showUsage">
										{{data.name}} - {{data.data[selectUsagePoints]}}
									</div>-->
									</div>
								</div>

							</div>
						</div>
						<div class="col-md-9">
							<div class="row">
								<div class="col-md-4">
									<h4 class="slick text-info" style="margin-top:10px; margin-bottom:0px; padding-left:3px;"><strong>{{kw | number : 2}}</strong></h4>
									<p class="lead" style="font-size:14px;margin-bottom:5px;">Demand (kW)</p>
								</div>
								<div class="col-md-4">
									<h4 class="slick text-info" style="margin-top:10px; margin-bottom:0px; padding-left:3px;"><strong>{{lastHrKwH | number : 2}}</strong></h4>
									<p class="lead" style="font-size:14px;margin-bottom:5px;">
										<i class="fa fa-play	 fa-rotate-270 fa-inverse"></i>
										kWh Last Hour</p>
								</div>
								<div class="col-md-4">
									<h4 class="slick text-info" style="margin-top:10px; margin-bottom:0px; padding-left:3px;"><strong>{{kwhPerSqft | number : 2}}</strong></h4>
									<p class="lead" style="font-size:14px;margin-bottom:5px;">
										<i class="fa fa-play	 fa-rotate-270 fa-inverse"></i>
										kWh / Sq Ft Last Hour
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<highchart style="width: 90%; height: 300px; margin-left:2%" config="trendConfig"></highchart>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
