<div ng-if="!dataLoadedError" ng-class="{'panel': config.showPanel ,'panel-default': config.showPanel, 'widgetPrimary': config.bgColor == 'blue' &&  config.showPanel, 'widgetSuccess': config.bgColor == 'green' &&  config.showPanel, 'widgetInfo': config.bgColor == 'lightBlue' &&  config.showPanel, 'widgetWarning': config.bgColor == 'yellow' &&  config.showPanel, 'widgetDanger': config.bgColor == 'red' &&  config.showPanel,'widgetGray': config.bgColor == 'gray' &&  config.showPanel, 'darkGray': config.bgColor == 'darkGray' &&  config.showPanel}" ng-style="{'margin-top': config.marginTop, 'margin-bottom' : config.marginBottom, 'margin-right' : config.marginRight, 'margin-left' : config.marginLeft}" ng-click="pointPopupDialog()" >
	<div ng-if="dataLoaded" ng-class="{'panel-body': config.showPanel, 'text-left': config.buttonAlign =='left','text-center': config.buttonAlign=='center','text-right':config.buttonAlign=='right'}">

		<div ng-show="!editMode && returnedData">
			<div ng-show="config.showValue">
				<div ng-class="[returnedData['$' + config.modelName + 'Status'].Class, config.titleTextValue]"   ng-style="{'font-size':config.myValueSize, 'font-weight': config.isBold, 'text-decoration': config.isDecorated}"> {{formatData( getDisplayValue(returnedData, config.valueProp) )}}<i ng-if="config.commandBox" class="fa fa-bullseye text-primary" style="font-size:9px;"></i></div>
			</div>
			<div ng-show="config.showMin" ng-class="{'widgetPrimary': config.minColor == 'blue', 'widgetSuccess': config.minColor == 'green', 'widgetInfo': config.minColor == 'lightBlue', 'widgetWarning': config.minColor == 'yellow', 'widgetDanger': config.minColor == 'red','widgetGray': config.minColor == 'gray', 'darkGray': config.minColor == 'darkGray'}">
				<div ng-class="[returnedData['$' + config.modelName + 'Status'].Class, config.titleTextValue]"  ng-style="{'font-size':config.myValueSize, 'font-weight': config.isBold, 'text-decoration': config.isDecorated}"> {{formatData( getDisplayValue(returnedData, config.valueProp) )}}<i ng-if="config.commandBox" class="fa fa-bullseye text-primary" style="font-size:9px;"></i></div>
			</div>
			<div ng-show="config.showMax" ng-class="{'widgetPrimary': config.maxColor == 'blue', 'widgetSuccess': config.maxColor == 'green', 'widgetInfo': config.maxColor == 'lightBlue', 'widgetWarning': config.maxColor == 'yellow', 'widgetDanger': config.maxColor == 'red','widgetGray': config.maxColor == 'gray', 'darkGray': config.maxColor == 'darkGray'}">
				<div ng-class="[returnedData['$' + config.modelName + 'Status'].Class, config.titleTextValue]"   ng-style="{'font-size':config.myValueSize, 'font-weight': config.isBold, 'text-decoration': config.isDecorated}"> {{formatData(getDisplayValue(returnedData, config.valueProp) )}}<i ng-if="config.commandBox" class="fa fa-bullseye text-primary" style="font-size:9px;"></i></div>
			</div>
			<div ng-class="[config.myLabelColor, config.titleTextLabel]" ng-show="config.showLabel" ng-style="{'font-size':config.myLabelSize,'font-weight': config.isLabBold, 'text-decoration': config.isLabDecorated}">{{ getValue(returnedData, config.labelProp) }}</div>
			<div ng-class="[config.myModelColor, config.titleTextModel]" ng-show="config.showModel" ng-style="{'font-size':config.myModelSize, 'font-weight': config.isModBold, 'text-decoration': config.isModDecorated}">{{ config.modelName }}</div>
			<!-- NOT NEEDED
			<a ng-if="returnedData.SiteData" href="#/dashboard/Site Details/Site/{{ getValue(returnedData,'Site') }}">{{ getValue(returnedData,'SiteData.Name') }}<br /></a>
			-->

			<a ng-if="returnedData && config.addLink == true" 
				href="#/dashboard/{{config.linkDboard}}/{{config.linkModelName}}/{{scopeId}}">
				Go to {{ getValue(returnedData, config.labelProp) }}<br />
			</a>
			<p ng-if="config.groupAVG" class="text-muted slick" ng-repeat="(groupName,groupAvg) in groupDetails">Group: <span class="text-info"> {{groupName}}</span> / Average: <span class="text-info">{{groupAvg | number:2}}</span></p>
		</div>
	</div>
	<div ng-show="editMode" class="panel-body">
		
		<div ng-class="[config.myLabelColor, config.titleTextLabel]" ng-show="config.showLabel" ng-style="{'font-size':config.myLabelSize}">{{ getValue(returnedData, config.labelProp) }}</div>
	
	</div>
	<div ng-if="!dataLoaded && !editMode" ng-class="{'panel-body': config.showPanel}" class="text-center">
		<h3>
			<i class="fa fa-spinner fa-spin text-info"></i>
		</h3>
		<strong>Data Loading ...</strong>
	</div>
	<div ng-if="dataLoaded" ng-hide="true" ng-class="{'panel-footer': config.showPanel}" style="padding:0px 10px;"><span class="text-info"><i class="fa fa-clock-o"></i> {{localUpdatedTime | date:'M/d/yyyy HH:mm'}}</span></div>
	<popup point-popup-dialog="pointPopupDialog" config="config" returned-data="returnedData"></popup>
</div>
