<div  ng-class="{'panel': config.showPanel ,'panel-default': config.showPanel, 'widgetPrimary': config.bgColor == 'blue' &&  config.showPanel, 'widgetSuccess': config.bgColor == 'green' &&  config.showPanel, 'widgetInfo': config.bgColor == 'lightBlue' &&  config.showPanel, 'widgetWarning': config.bgColor == 'yellow' &&  config.showPanel, 'widgetDanger': config.bgColor == 'red' &&  config.showPanel,'widgetGray': config.bgColor == 'gray' &&  config.showPanel}" ng-style="{'margin-top': config.marginTop, 'margin-bottom' : config.marginBottom, 'margin-right' : config.marginRight, 'margin-left' : config.marginLeft}" ng-click="pointPopupDialog()" >
	
	<div ng-if="dataLoaded && !dataLoadedError" ng-class="{'panel-body': config.showPanel, 'text-left': config.buttonAlign =='left','text-center': config.buttonAlign=='center','text-right':config.buttonAlign=='right'}">
		<div>
			<div ng-if="config.showValue">
				<div ng-class="[config.myValueColor, config.titleTextValue]" ng-if="config.showValue" ng-style="{'font-size':config.myValueSize,'font-weight': config.isBold, 'text-decoration': config.isDecorated}"> {{aggregateValue}}<i ng-if="config.commandBox" class="fa fa-bullseye text-primary" style="font-size:9px;"></i></div>
			</div>
			<div ng-if="config.showMin" ng-class="{'widgetPrimary': config.minColor == 'blue', 'widgetSuccess': config.minColor == 'green', 'widgetInfo': config.minColor == 'lightBlue', 'widgetWarning': config.minColor == 'yellow', 'widgetDanger': config.minColor == 'red','widgetGray': config.minColor == 'gray', 'darkGray': config.minColor == 'darkGray'}">
				<div ng-class="[config.myValueColor, config.titleTextValue]"  ng-style="{'font-size':config.myValueSize,'font-weight': config.isBold, 'text-decoration': config.isDecorated}"> {{aggregateValue}}<i ng-if="config.commandBox" class="fa fa-bullseye text-primary" style="font-size:9px;"></i></div>
			</div>
			<div ng-if="config.showMax" ng-class="{'widgetPrimary': config.maxColor == 'blue', 'widgetSuccess': config.maxColor == 'green', 'widgetInfo': config.maxColor == 'lightBlue', 'widgetWarning': config.maxColor == 'yellow', 'widgetDanger': config.maxColor == 'red','widgetGray': config.maxColor == 'gray', 'darkGray': config.maxColor == 'darkGray'}">
				<div ng-class="[config.myValueColor, config.titleTextValue]"  ng-style="{'font-size':config.myValueSize,'font-weight': config.isBold, 'text-decoration': config.isDecorated}"> {{aggregateValue}}<i ng-if="config.commandBox" class="fa fa-bullseye text-primary" style="font-size:9px;"></i></div>
			</div>

			<div ng-class="[config.myLabelColor, config.titleTextLabel]" ng-if="config.showLabel" ng-style="{'font-size':config.myLabelSize, 'font-weight': config.isLabBold, 'text-decoration': config.isLabDecorated}">{{ getValue(returnedData, config.labelProp) }}</div>
			<!--<div ng-class="[config.myModelColor, config.titleTextModel]" ng-if="config.showModel" ng-style="{'font-size':config.myModelSize}">{{ config.modelName }}</div>-->
			<div ng-class="[config.myModelColor, config.titleTextModel]" ng-if="config.showModel" ng-style="{'font-size':config.myModelSize,'font-weight': config.isModBold, 'text-decoration': config.isModDecorated}">{{config.trendFunction}} of {{config.aggregation}}</div>
		</div>
	</div>

	<div ng-if="!dataLoaded && !dataLoadedError && !$scope.reloading" ng-class="{'panel-body': config.showPanel}" class="text-center">
		<h3>
			<i class="fa fa-spinner fa-spin text-info"></i>
		</h3>
		<strong>Data Loading ...</strong>
	</div>

	<div ng-if="dataLoaded && !dataLoadedError" ng-hide="!config.showPanel" ng-class="{'panel-footer': config.showPanel}" style="padding:0px;"><center><span class="text-info"><i class="fa fa-clock-o"></i> {{returnedData.lastModified | date:'M/d/yyyy HH:mm'}}</span><center></div>
	<popup point-popup-dialog="pointPopupDialog" config="config" returned-data="returnedData"></popup>
</div>
