<div class="panel panel-default">
	<div class="panel-heading">
		<h5><i class="fa fa-cogs"></i> Point Configuration</h5>
	</div>
	<div class="panel-body">
		<form class="form-inline" role="form">
			<div class="form-group" >
				<label for="useScope">Use Scope</label></br>
				<div class="checkbox">
			      <label>
			        <input ng-model="config.useScope" name="useScope" type="checkbox" ng-change="loadModelTypes(null, config.useScope)"> Use Scope
			      </label>
	   			 </div>
   			</div>				
			<div class="form-group" ng-if="!config.useScope">
				<label for="modelName">Model</label><br />
				<select class="form-control" name="modelName" ng-model="config.modelName" ng-options="key as key for (key,type) in modelNames" ng-change="loadModelTypes(config.modelName)">
					<option value="" selected="selected">Select</option>
				</select>
				<span ng-show="frm.modelName.$error.required" class="help-inline">*Required</span>
			</div>
			<div class="form-group" ng-if="!config.useScope">
				<label for="modelType">Type</label><br />
				<select class="form-control" name="modelType" ng-model="config.modelType" ng-options="key as type.Name for (key,type) in modelTypes" ng-change="setModelType(config.modelName, config.modelType)">
					<option value="" selected="selected">Select</option>
				</select>
				<span ng-show="frm.modelType.$error.required" class="help-inline">*Required</span>
			</div>
			<div style="margin-top:10px" class="form-group">
				<label for="valueProp">Value of Type</label><br />
				<select style="width:258px" class="form-control" name="valueProp" ng-model="config.valueProp" ng-options="getPropertyValue(prop) as prop.label for (key,prop) in valueProps">
					<option value="" selected="selected">Select</option>
				</select>
				<span ng-show="frm.valueProp.$error.required" class="help-inline">*Required</span>
			</div>
			<div style="margin-top:10px" class="form-group">
				<label for="labelProp">Label of Type</label><br />
				<select style="width:260px" class="form-control" name="labelProp" ng-model="config.labelProp" ng-options="getPropertyValue(prop) as prop.label for (key,prop) in labelProps">
					<option value="" selected="selected">Select</option>
				</select>
				<span ng-show="frm.labelProp.$error.required" class="help-inline">*Required</span>
			</div></br>	

			<div style="margin-top:10px;" class="form-group">
				<label for="interval">Interval</label><br />
				<select style="width:135px" id="interval" ng-model="config.interval" ng-change="verifyPossiblePointsReturned()" class="form-control" ng-options="n for n in [] | range:59"></select>
				<span ng-show="frm.interval.$error.required" class="help-inline">*Required</span>
			</div>	
			<div style="margin-top:10px;" class="form-group">
				<label for="trendFunction">Unit</label><br />
				<select style="width:119px" id="trendFunction" name="trendFunction" ng-change="verifyPossiblePointsReturned()"ng-model="config.intervalUnits" class="form-control">
					<option value=""> - </option>
					<option value="min">minute</option>
					<option value="hour">hour</option>
					<option value="day">day</option>
					<option value="month">month</option>
					<option value="year">year</option>
				</select>
				<span ng-show="frm.trendFunction.$error.required" class="help-inline">*Required</span>
			</div>	
			<div style="margin-top:10px;" class="form-group">
				<label for="interval">Roll Up</label><br />
				<select style="width:119px" id="rollUp" ng-model="config.trendFunction" class="form-control" name="rollUp">
					<option value="count">Count</option>
					<option value="max">Max</option>
					<option value="mean">Avg</option>
					<option value="min">Min</option>
					<option value="stddev">Stddev</option>
					<option value="sum">Sum</option>
					<option value="range">Range</option>
				</select>
				<span ng-show="frm.rollUp.$error.required" class="help-inline">*Required</span>
			</div>	
			<div style="margin-top:10px; " class="form-group">
				<label for="aggregation">Aggregation</label><br />
				<select style="width:135px" id="aggregation" ng-model="config.aggregation" class="form-control" name="aggregation">
					<option value="Last 24 Hours">Last 24 Hours</option>
					<option value="Last Week">Last 7 Days</option>
					<option value="Last 30 Days">Last 30 Days</option>
					<option value="Last Year">Last Year</option>
					<option value="today">Today</option>
					<option value="Week To Date">Week To Date</option>
					<option value="Month To Date">Month To Date</option>
					<option value="Year To Date">Year To Date</option>
					<option value="Custom" selected="selected">Custom</option>
				</select>
				<span ng-show="frm.aggregation.$error.required" class="help-inline">*Required</span>
			</div>	
			<div style="margin-top:10px" class="form-group" ng-show="config.aggregation=='Custom'">
				<label for="interval">Start Date</label><br />
				<p class="input-group">
					<input type="text" class="form-control" name="startDate" datepicker-popup="MMMM d, yyyy" placeholder="To" ng-model="config.startDate" is-open="openedTo" min="minDate" max="" datepicker-options="dateOptions" ng-change="verifyPossiblePointsReturned()" ng-required="true" close-text="Close" ng-click="op($event,'openedTo')" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="op($event,'openedTo')"><i class="fa fa-calendar"></i></button>
					</span>
				</p>
				<span ng-show="frm.startDate.$error.required" class="help-inline">*Required</span>
			</div>	
			<div  class="form-group" ng-show="config.aggregation=='Custom'">
				<label for="interval">End Date</label><br />
				<p class="input-group">
					<input type="text" class="form-control" name="endDate" datepicker-popup="MMMM d, yyyy" placeholder="From" ng-model="config.endDate" is-open="openedFrom" min="minDate" max="" datepicker-options="dateOptions"  ng-required="true" ng-change="verifyPossiblePointsReturned()" close-text="Close" ng-click="op($event,'openedFrom')" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="op($event, 'openedFrom')"><i class="fa fa-calendar"></i></button>
					</span>
				</p>
				<span ng-show="frm.endDate.$error.required" class="help-inline">*Required</span>											
			</div>
		</form>
	</div>
</div>
<div class="panel panel-default" ng-show="config.showSettings">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-12 pull-left">
				<label>Configure Displayed Value</label>
				<p class="text-info slick">Enter the given value in the first box, then add the value you would like Omniboard to display when that value is returned in the second box. Example (0 = Off).</p>
			</div>
			<div class="col-md-4">
				<input type="text" ng-model="displayKey" class="form-control" placeholder="Actual Value"> 
			</div>  
			<div class="col-md-2 text-center"> 
				<i class="fa fa-pause fa-rotate-270"></i>
			</div>  
			<div class="col-md-4">
				<input type="text" ng-model="displayValue" class="form-control" placeholder="Display Value">
			</div>

			<div class="col-md-2"> 
				<button class="btn btn-primary" ng-click="addDisplayValue(displayKey, displayValue)"><i class="fa fa-plus-circle"></i> ADD</button>
			</div>
		</div>
		<div ng-repeat="(key,value) in config.displayValues" class="" style="margin-top:20px;">
			<span class="slick text-muted">{{key}} = {{value}}</span> <button class="btn btn-danger btn-xs" ng-click="deleteDisplayValue(key)"><i class="fa fa-trash-o"></i></button>
		</div>
	</div>
</div>
<div class="panel panel-default" ng-show="config.showSettings">
	<div class="panel-heading">
		<h5><i class="fa fa-cube"></i> Widget Style Configuration</h5>
	</div>
	<div class="panel-body">
		<form class="form-inline"  style="margin-bottom:10px;">
			<div class="panel panel-default">
				<div class="panel-body">
					<div  class="form-group" >
						<label for="background">Background</label></br>
						<div class="checkbox">
					      <label>
					        <input ng-model="config.showPanel" name="background" type="checkbox"> Display
					      </label>
			   			 </div>
		   			</div>
					<div  class="form-group col-md-offset-1" ng-if="config.showPanel" style="margin-left:60px;">
						<label for="bgColor" style="margin-left:10px; margin-top:10px;">Color</label></br>
						<div style="margin-left:10px;" class="btn-group">
							<button class="btn btn-default" ng-click="config.bgColor = ''">&nbsp;</button>
							<button class="btn gray" ng-click="config.bgColor = 'gray'">&nbsp;</button>
							<button class="btn btn-primary" ng-click="config.bgColor = 'blue'">&nbsp;</button>
							<button class="btn btn-success" ng-click="config.bgColor = 'green'">&nbsp;</button>
							<button class="btn btn-info" ng-click="config.bgColor = 'lightBlue'">&nbsp;</button>
							<button class="btn btn-warning" ng-click="config.bgColor = 'yellow'">&nbsp;</button>
							<button class="btn btn-danger" ng-click="config.bgColor = 'red'">&nbsp;</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		<form class="form-inline" style="margin-bottom:10px;">
			<div class="panel panel-default">
				<div class="panel-body">
					<div  class="form-group" >
						<label for="">Label</label></br>
						<div class="checkbox">
							<label>
								<input ng-model="config.showLabel" name="background" type="checkbox"> Display
							</label>
						</div>
					</div></br>
					<div class="form-group" role="form" ng-show="config.showLabel">
						<label >Label Size</label></br>

						<i  class="fa fa-font text-muted"  style="font-size:12px"  ng-class="{'text-info':config.myLabelSize==''}" ng-click="config.myLabelSize=''"></i> 
						<i  class="fa fa-font text-muted"  style="font-size:14px"  ng-class="{'text-info':config.myLabelSize=='1em'}" ng-click="config.myLabelSize='1em'"></i> 
						<i  class="fa fa-font text-muted"  style="font-size:16px"  ng-class="{'text-info':config.myLabelSize=='1.5em'}" ng-click="config.myLabelSize='1.5em'"></i> 
						<i  class="fa fa-font text-muted" style="font-size:18px" ng-class="{'text-info':config.myLabelSize=='2em'}" ng-click="config.myLabelSize='2em'"></i> 
						<i  class="fa fa-font text-muted" style="font-size:20px" ng-class="{'text-info':config.myLabelSize=='3em'}" ng-click="config.myLabelSize='3em'"></i>
						<i  class="fa fa-font text-muted" style="font-size:22px" ng-class="{'text-info':config.myLabelSize=='4em'}" ng-click="config.myLabelSize='4em'"></i>
					</div>
					<div  class="form-group col-md-offset-1" ng-show="config.showLabel" >
						<label for="">Title Text</label></br>
							<label class="radio-inline">
		  							<input type="radio" ng-model="config.titleTextLabel" name="inlineRadioOptions" id="inlineRadio1" value="slick"> On
							</label>
							<label class="radio-inline">
		  							<input type="radio" ng-model="config.titleTextLabel" name="inlineRadioOptions" id="inlineRadio1" value=""> Off
							</label>
					</div>
					<div  class="form-group col-md-offset-1" ng-show="config.showLabel">
						<label for="labColor" style="margin-top:10px;">Color</label></br>
						<div  name="labColor" class="btn-group">
							<button class="btn btn-default" ng-click="config.myLabelColor = ''">&nbsp;</button> 
							<button class="btn gray-lighten" ng-click="config.myLabelColor = 'text-muted'">&nbsp;</button> 
							<button class="btn btn-primary" ng-click="config.myLabelColor = 'text-primary'">&nbsp;</button>
							<button class="btn btn-success" ng-click="config.myLabelColor = 'text-success'">&nbsp;</button> 
							<button class="btn btn-info" ng-click="config.myLabelColor = 'text-info'">&nbsp;</button> 
							<button class="btn btn-warning" ng-click="config.myLabelColor = 'text-warning'">&nbsp;</button> 
							<button class="btn btn-danger" ng-click="config.myLabelColor = 'text-danger'">&nbsp;</button>  
						</div>
					</div>
					<form></br>
						<label for="buttonSize" ng-show="config.showLabel" style="margin-top:10px;">Text Editor</label></br>
						<div class="btn-group" ng-show="config.showLabel">
							<button type="button" class="btn btn-primary" ng-click="config.isLabBold = ''">X</button>
							<button type="button" class="btn btn-primary" ng-click="config.isLabBold = 'lighter'" style="font-weight:lighter">A</button>
							<button type="button" class="btn btn-primary" ng-click="config.isLabBold = 'normal'" style="font-weight:normal">A</button>
							<button type="button" class="btn btn-primary" ng-click="config.isLabBold = 'bold'" style="font-weight:bold">A</button>
							<button type="button" class="btn btn-primary" ng-click="config.isLabBold = 'bolder'" style="font-weight:bolder">A</button>
						</div>
						<div class="btn-group" ng-show="config.showLabel">

							<button type="button" class="btn btn-primary" ng-click="config.isLabDecorated = 'none'" style="font-weight:lighter">X</button>
							<button type="button" class="btn btn-primary" ng-click="config.isLabDecorated = 'underline'" style="font-weight:normal"><i class="fa fa-underline"></i></button>
							<button type="button" class="btn btn-primary" ng-click="config.isLabDecorated = 'overline'" style="font-weight:bold" ><span style="text-decoration:overline">A</span></button>
							<button type="button" class="btn btn-primary" ng-click="config.isLabDecorated = 'line-through'" style="font-weight:bolder"><i class="fa fa-strikethrough"></i></button>
						</div>
					</form>
				</div>
			</div>
		</form>

		<form class="form-inline"  style="margin-bottom:10px;">
			<div class="panel panel-default">
				<div class="panel-body">
					<div  class="form-group" >
						<label for="">Value</label></br>
						<div class="checkbox">
							<label>
								<input ng-model="config.showValue" name="background" type="checkbox"> Display
							</label>
						</div>
					</div></br>
					<div  class="form-group" ng-show="config.showValue">
						<label>Value Size</label></br>
						<i  class="fa fa-font text-muted"  style="font-size:12px"  ng-class="{'text-info':config.myValueSize==''}" ng-click="config.myValueSize=''"></i> 
						<i  class="fa fa-font text-muted"  style="font-size:14px"  ng-class="{'text-info':config.myValueSize=='1em'}" ng-click="config.myValueSize='1em'"></i> 
						<i  class="fa fa-font text-muted"  style="font-size:16px"  ng-class="{'text-info':config.myValueSize=='1.5em'}" ng-click="config.myValueSize='1.5em'"></i> 
						<i  class="fa fa-font text-muted" style="font-size:18px" ng-class="{'text-info':config.myValueSize=='2em'}" ng-click="config.myValueSize='2em'"></i> 
						<i  class="fa fa-font text-muted" style="font-size:20px" ng-class="{'text-info':config.myValueSize=='3em'}" ng-click="config.myValueSize='3em'"></i>
						<i  class="fa fa-font text-muted" style="font-size:22px" ng-class="{'text-info':config.myValueSize=='4em'}" ng-click="config.myValueSize='4em'"></i>
					</div>
					<div  class="form-group col-md-offset-1" ng-show="config.showValue" >
						<label for="">Title Text</label></br>
						<label class="radio-inline">
							<input type="radio" ng-model="config.titleTextValue" name="inlineRadioOptions" id="inlineRadio1" value="slick"> On
						</label>
						<label class="radio-inline">
							<input type="radio" ng-model="config.titleTextValue" name="inlineRadioOptions" id="inlineRadio1" value=""> Off
						</label>
					</div>
					<div  class="form-group col-md-offset-1" ng-show="config.showValue">
						<label for="valColor" style="margin-top:10px;">Color</label></br>
						<div name="valColor" class="btn-group">
							<button class="btn btn-default"  ng-click="config.myValueColor = ''">&nbsp;</button> 
							<button class="btn gray-lighten"  ng-click="config.myValueColor = 'text-muted'">&nbsp;</button> 
							<button class="btn btn-primary" ng-click="config.myValueColor = 'text-primary'">&nbsp;</button>
							<button class="btn btn-success" ng-click="config.myValueColor = 'text-success'">&nbsp;</button> 
							<button class="btn btn-info" ng-click="config.myValueColor = 'text-info'">&nbsp;</button> 
							<button class="btn btn-warning" ng-click="config.myValueColor = 'text-warning'">&nbsp;</button> 
							<button class="btn btn-danger" ng-click="config.myValueColor = 'text-danger'">&nbsp;</button>  
						</div>
					</div>
					<div  class="form-group" ng-show="config.showValue">
						<label for="background" ng-show="config.showValue">Value Color Assignment</label></br>
						<div class="checkbox" ng-show="config.showValue">
					      <label >
					        <input ng-model="config.showColor" name="background" type="checkbox"> Display
					      </label>
			   			 </div>
		   			</div><br/>
		   			
			   			 <button ng-if="config.showColor" style="margin-top:25px; margin-right:5px" class="btn btn-default btn-sm" disabled><strong>&#8804;</strong></button>
			   			 <input type="text" ng-show="config.showValue" style="margin-top:25px;" ng-if="config.showColor" ng-model="config.minValue" class="form-control" placeholder="Min Value">
					<div ng-show="config.showValue" class="form-group col-md-offset-1" ng-if="config.showColor" style="margin-left:25px;">
						<label for="minColor" style="margin-left:10px; ">Color</label></br>
						<div style="margin-left:10px;" ng-show="config.showValue" class="btn-group">
							<button class="btn btn-default" ng-click="config.minColor = ''">&nbsp;</button>
							<button class="btn darkGray" ng-click="config.minColor = 'darkGray'">&nbsp;</button>
							<button class="btn gray" ng-click="config.minColor = 'gray'">&nbsp;</button>
							<button class="btn btn-primary" ng-click="config.minColor = 'blue'">&nbsp;</button>
							<button class="btn btn-success" ng-click="config.minColor = 'green'">&nbsp;</button>
							<button class="btn btn-info" ng-click="config.minColor = 'lightBlue'">&nbsp;</button>
							<button class="btn btn-warning" ng-click="config.minColor = 'yellow'">&nbsp;</button>
							<button class="btn btn-danger" ng-click="config.minColor = 'red'">&nbsp;</button>
						</div>
					</div><br/>
					
			   			 <button ng-if="config.showColor" style="margin-top:25px; margin-right:5px" class="btn btn-default btn-sm" disabled><strong>&#8805;</strong></button><input type="text" style="margin-top:25px;" ng-if="config.showColor" ng-model="config.maxValue" class="form-control" placeholder="Max Value">
					<div  class="form-group col-md-offset-1" ng-if="config.showColor" style="margin-left:30px;">
						<label for="maxColor" style="margin-left:10px;">Color</label></br>
						<div style="margin-left:10px;" class="btn-group">
							<button class="btn btn-default" ng-click="config.maxColor = ''">&nbsp;</button>
							<button class="btn darkGray" ng-click="config.maxColor = 'darkGray'">&nbsp;</button>
							<button class="btn gray" ng-click="config.maxColor = 'gray'">&nbsp;</button>
							<button class="btn btn-primary" ng-click="config.maxColor = 'blue'">&nbsp;</button>
							<button class="btn btn-success" ng-click="config.maxColor = 'green'">&nbsp;</button>
							<button class="btn btn-info" ng-click="config.maxColor = 'lightBlue'">&nbsp;</button>
							<button class="btn btn-warning" ng-click="config.maxColor = 'yellow'">&nbsp;</button>
							<button class="btn btn-danger" ng-click="config.maxColor = 'red'">&nbsp;</button>
						</div>
					</div>
					<div class="form-group" >
						<label ng-show="config.showValue" for="">Number Fraction Size </label></br>
						<select ng-show="config.showValue" class="form-control" name="fractionSize" ng-model="config.fractionSize">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
					</div></br>
					<form>
						<label  for="buttonSize" ng-show="config.showValue" style="margin-top:10px;">Text Editor</label></br>
						
						<div class="btn-group" ng-show="config.showValue">
							<button type="button" class="btn btn-primary" ng-click="config.isBold = ''">X</button>
							<button type="button" class="btn btn-primary" ng-click="config.isBold = 'lighter'" style="font-weight:lighter">A</button>
							<button type="button" class="btn btn-primary" ng-click="config.isBold = 'normal'" style="font-weight:normal">A</button>
							<button type="button" class="btn btn-primary" ng-click="config.isBold = 'bold'" style="font-weight:bold">A</button>
							<button type="button" class="btn btn-primary" ng-click="config.isBold = 'bolder'" style="font-weight:bolder">A</button>
						</div>
						<div class="btn-group" ng-show="config.showValue">

							<button type="button" class="btn btn-primary" ng-click="config.isDecorated = 'none'">X</button>
							<button type="button" class="btn btn-primary" ng-click="config.isDecorated = 'underline'" style="font-weight:normal"><i class="fa fa-underline"></i></button>
							<button type="button" class="btn btn-primary" ng-click="config.isDecorated = 'overline'" style="font-weight:bold" ><span style="text-decoration:overline">A</span></button>
							<button type="button" class="btn btn-primary" ng-click="config.isDecorated = 'line-through'" style="font-weight:bolder"><i class="fa fa-strikethrough"></i></button>
						</div>
					</form>
				</div>
			</div>
		</form>
		<form class="form-inline"  style="margin-bottom:10px;">
			<div class="panel panel-default">
				<div class="panel-body">
					<div  class="form-group" >
						<label for="">Model</label></br>
						<div class="checkbox">
							<label>
								<input ng-model="config.showModel" name="background" type="checkbox"> Display
							</label>
						</div>
					</div></br>
					<div  class="form-group" ng-show="config.showModel">
						<label>Model Size</label></br>
						<i  class="fa fa-font text-muted"  style="font-size:12px"  ng-class="{'text-info':config.myModelSize==''}" ng-click="config.myModelSize=''"></i> 
						<i  class="fa fa-font text-muted"  style="font-size:14px"  ng-class="{'text-info':config.myModelSize=='1em'}" ng-click="config.myModelSize='1em'"></i> 
						<i  class="fa fa-font text-muted"  style="font-size:16px"  ng-class="{'text-info':config.myModelSize=='1.5em'}" ng-click="config.myModelSize='1.5em'"></i> 
						<i  class="fa fa-font text-muted" style="font-size:18px" ng-class="{'text-info':config.myModelSize=='2em'}" ng-click="config.myModelSize='2em'"></i> 
						<i  class="fa fa-font text-muted" style="font-size:20px" ng-class="{'text-info':config.myModelSize=='3em'}" ng-click="config.myModelSize='3em'"></i>
						<i  class="fa fa-font text-muted" style="font-size:22px" ng-class="{'text-info':config.myModelSize=='4em'}" ng-click="config.myModelSize='4em'"></i>
					</div>
					<div  class="form-group col-md-offset-1" ng-show="config.showModel" >
						<label for="">Title Text</label></br>
							<label class="radio-inline">
		  							<input type="radio" ng-model="config.titleTextModel" name="inlineRadioOptions" id="inlineRadio1" value="slick"> On
							</label>
							<label class="radio-inline">
		  							<input type="radio" ng-model="config.titleTextModel" name="inlineRadioOptions" id="inlineRadio1" value=""> Off
							</label>
					</div>
					<div  class="form-group col-md-offset-1" ng-show="config.showModel">
						<label for="valColor" style="margin-top:10px;">Color</label></br>
						<div name="valColor" class="btn-group">
							<button class="btn btn-default"  ng-click="config.myModelColor = ''">&nbsp;</button> 
							<button class="btn gray-lighten"  ng-click="config.myModelColor = 'text-muted'">&nbsp;</button> 
							<button class="btn btn-primary" ng-click="config.myModelColor = 'text-primary'">&nbsp;</button>
							<button class="btn btn-success" ng-click="config.myModelColor = 'text-success'">&nbsp;</button> 
							<button class="btn btn-info" ng-click="config.myModelColor = 'text-info'">&nbsp;</button> 
							<button class="btn btn-warning" ng-click="config.myModelColor = 'text-warning'">&nbsp;</button> 
							<button class="btn btn-danger" ng-click="config.myModelColor = 'text-danger'">&nbsp;</button>  
						</div>
					</div>
					<form></br>
						<label for="buttonSize" ng-show="config.showModel" style="margin-top:10px;">Text Editor</label></br>
						<div class="btn-group"  ng-show="config.showModel">
							<button type="button" class="btn btn-primary" ng-click="config.isModBold = ''">X</button>
							<button type="button" class="btn btn-primary" ng-click="config.isModBold = 'lighter'" style="font-weight:lighter">A</button>
							<button type="button" class="btn btn-primary" ng-click="config.isModBold = 'normal'" style="font-weight:normal">A</button>
							<button type="button" class="btn btn-primary" ng-click="config.isModBold = 'bold'" style="font-weight:bold">A</button>
							<button type="button" class="btn btn-primary" ng-click="config.isModBold = 'bolder'" style="font-weight:bolder">A</button>
						</div>
						<div class="btn-group"  ng-show="config.showModel">

							<button type="button" class="btn btn-primary" ng-click="config.isModDecorated = 'none'">X</button>
							<button type="button" class="btn btn-primary" ng-click="config.isModDecorated = 'underline'" style="font-weight:normal"><i class="fa fa-underline"></i></button>
							<button type="button" class="btn btn-primary" ng-click="config.isModDecorated = 'overline'" style="font-weight:bold" ><span style="text-decoration:overline">A</span></button>
							<button type="button" class="btn btn-primary" ng-click="config.isModDecorated = 'line-through'" style="font-weight:bolder"><i class="fa fa-strikethrough"></i></button>
						</div>
					</form>
				</div>
			</div>
		</form>
		<form class="form-inline" ng-show="config.showSettings" role="form">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="form-group">
						<div class="btn-group">
							<button type="button" class="btn btn-primary" ng-click="config.buttonAlign = 'left'"><i class="fa fa-align-left"></i></button>
							<button type="button" class="btn btn-primary" ng-click="config.buttonAlign = 'center'"><i class="fa fa-align-center"></i></button>
							<button type="button" class="btn btn-primary" ng-click="config.buttonAlign = 'right'"><i class="fa fa-align-right"></i></button>
						</div>
					</div>
				</div>
			</div>
		</form>
		<form class="form-inline" role="form">
			<div class="panel panel-default">
				<div class="panel-body">
					  <div class="form-group">
					    <label  for="margin-top">Margin-Top</label></br>
					    <input type="text" ng-model="config.marginTop" class="form-control" id="margin-top" placeholder="10px">
					  </div>
					  <div class="form-group col-md-offset-1">
					    <label  for="margin-bottom">Margin-Bottom</label></br>
					    <input type="text" ng-model="config.marginBottom" class="form-control" id="margin-bottom" placeholder="10px">
					  </div>
				</div>
			</div>
  		</form>
	</div>
</div>