<div  ng-class="{'panel': config.showPanel ,'panel-default': config.showPanel, 'widgetPrimary': config.bgColor == 'blue' &&  config.showPanel, 'widgetSuccess': config.bgColor == 'green' &&  config.showPanel, 'widgetInfo': config.bgColor == 'lightBlue' &&  config.showPanel, 'widgetWarning': config.bgColor == 'yellow' &&  config.showPanel, 'widgetDanger': config.bgColor == 'red' &&  config.showPanel,'widgetGray': config.bgColor == 'gray' &&  config.showPanel,'darkGray': config.bgColor == 'darkGray' &&  config.showPanel}" ng-style="{'margin-top': config.marginTop, 'margin-bottom' : config.marginBottom, 'margin-right' : config.marginRight, 'margin-left' : config.marginLeft}" >

	<div   ng-class="{'panel-heading': config.showPanel}">
		<h3 ng-hide="!config.showPanel" class="panel-title"><i class="fa fa-file-image-o"></i>{{selectedFileName}}</h3>
		<span class="pull-right" style="margin-top:-20px"><a href="" ng-click="showFile = !showFile" ><i class="fa" ng-class="{'fa-arrow-circle-down': !showFile, 'fa-arrow-circle-left': showFile }" ></i></a></span>

	</div>

	<div ng-if="dataLoaded && !dataLoadedError"  ng-class="{'panel-body': config.showPanel}">

		<div ng-hide="showFile">
			<p class="slick"><i class="fa fa-arrow-circle-down"></i> Select a file from the box below to display on the dashboard.</p>
			<select  class="form-control" name="modelName" ng-model="selectedFile" ng-options="data as data.Name for (key,data) in returnedData" ng-change="fetchData(selectedFile.URL)">
				<option value="" selected="selected">Select</option>
			</select>

		</div>
		<div ng-show="showFile">
			<iframe src="{{selectedURL}}" style="height:600px; width:100%" ></iframe>
		</div>
	</div>

	<div ng-if="dataLoading" ng-class="{'panel-body': config.showPanel}" class="text-center">
		<h3>
			<i class="fa fa-spinner fa-spin text-info"></i>
		</h3>
		<strong>Data Loading ...</strong>		
	</div>
	<div ng-if="dataLoadedError" ng-class="{'panel-body': config.showPanel}"class="text-center">
		<h3>
			<i class="fa fa-star-o text-warning"></i><br />
			Unable to load file!

		</h3>
		<!--<strong>Error Loading Data</strong>-->
	</div>
</div>
