<!doctype html>
<html lang="en" ng-app="kickface">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="http://www.ttmartialarts.com/">
	<title>KickFace</title>
	
	<link rel="stylesheet" type="text/css" href="assets/Kickface-0.0.1.css" />
	
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Kickface</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
		    <li><a href="#/home">home</a></li>
		    <li><a href="#/chat">chat</a></li>
		    <li><a href="#/courses">courses</a></li>    
		    <li ng-hide-auth><a href="#/login">login</a></li>
		    <li ng-show-auth><a href="#/account">account</a></li>
          </ul>
        </div>
      </div>
    </div>	

	<div class="container">
		<div ng-view></div>
	</div>

  <!--<div>Kickface <span app-version></span></div>
	<div ui-view autoscroll="true">
		<div class="row">
			<div class="col-lg-12 text-center">
				<i class="fa fa-spinner fa-spin fa-5x text-info"></i><br />
				<h2 style="color:#fff">LOADING</h2>
			</div>
		</div>
	</div>-->
	<!-- compiled JS -->
	
	<script type="text/javascript" src="assets/Kickface-0.0.1.js"></script>
	


</body>
</html>