<div ng-if="dataLoaded && !dataLoadedError" ng-class="{'panel': config.showPanel ,'panel-default': config.showPanel, 'widgetPrimary': config.bgColor == 'blue' &&  config.showPanel, 'widgetSuccess': config.bgColor == 'green' &&  config.showPanel, 'widgetInfo': config.bgColor == 'lightBlue' &&  config.showPanel, 'widgetWarning': config.bgColor == 'yellow' &&  config.showPanel, 'widgetDanger': config.bgColor == 'red' &&  config.showPanel,'widgetGray': config.bgColor == 'gray' &&  config.showPanel,'darkGray': config.bgColor == 'darkGray' &&  config.showPanel}" ng-style="{'margin-top': config.marginTop, 'margin-bottom' : config.marginBottom}">
	<span class="text-primary"><strong>Activity Log</strong></span>
	<div class="row">
		<div class="col-md-6">
			<span class="text-muted"><strong>Date</strong></span>
		</div>
		<div class="col-md-6">
			<span class="text-muted"><strong>Message</strong></span>
		</div>
	</div>
	<div style="max-height:200px; overflow-x:hidden; overflow-y:auto">
	<div class="row" ng-repeat="(id, note) in returnedData">
		<div class="col-md-6">
			<span style="font-size:12px" class="slick">{{note.lastModified | date:'M/d/yyyy HH:mm'}}</span>
		</div>
		<div class="col-md-6">
			<span style="font-size:12px" class="slick">{{note.Message}}</span>
		</div>
	</div>
	</div>
	<div ng-if="!dataLoaded && !dataLoadedError">
		<h3>
			<i class="fa fa-spinner fa-spin text-info"></i>
		</h3>
		<strong>Data Loading ...</strong>
	</div>
	<br/>
	<div class="input-group">
		<input type="text" ng-model="message.newNote" class="form-control" placeholder="Add note"/>
		<span ng-click="addNote()" class="input-group-addon" style="font-size:11px;cursor:pointer">
			<i class="fa fa-plus" ng-class="{'fa-spinner fa-spin': showSpinner}"></i>
		</span>
	</div>
	<br/>
</div>