<h2>Courses</h2>

<form>
  <input placeholder="Course..." ng-model="newCourse.name">
  <input placeholder="Course..." ng-model="newCourse.description">
  <input placeholder="Course..." ng-model="newCourse.videoUrl">
  <button type="submit" ng-click="addCourse(newCourse);newCourse = {};">send</button>
</form>

<ul id="courses" ng-show="courses.length">
    <li ng-repeat="course in courses | reverse">{{course.name}}</li>
</ul>

<p>
  Running the 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>
