<div class="panel panel-default">
  <div class="panel-heading">
    <h5><i class="fa fa-font"></i> Text Configuration</h5>
  </div>
  <div class="panel-body">
    <form role="form">
      <div class="form-group">
        <label for="content">Text Area Content</label>
        <textarea id="content" class="form-control" rows="5" ng-model="config.content"  ></textarea>
      </div>
    </form>
    <div ng-class="{'panel-body': config.showPanel, 'text-left': config.buttonAlign =='left','text-center': config.buttonAlign=='center','text-right':config.buttonAlign=='right'}">
        <span ng-class="[config.myLabelColor, config.titleTextLabel]" ng-style="{'font-size':config.myLabelSize, 'font-weight': config.isBold, 'text-decoration': config.isDecorated}">{{config.content}}</span>
    </div>
    <form class="form-inline" style="margin-bottom:10px;">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="form-group" role="form">
            <label >Label Size</label></br>
              <i  class="fa fa-font text-muted"  style="font-size:12px"  ng-class="{'text-info':config.myLabelSize==''}" ng-click="config.myLabelSize=''"></i> 
              <i  class="fa fa-font text-muted"  style="font-size:14px"  ng-class="{'text-info':config.myLabelSize=='1em'}" ng-click="config.myLabelSize='1em'"></i> 
                  <i  class="fa fa-font text-muted"  style="font-size:16px"  ng-class="{'text-info':config.myLabelSize=='1.5em'}" ng-click="config.myLabelSize='1.5em'"></i> 
                  <i  class="fa fa-font text-muted" style="font-size:18px" ng-class="{'text-info':config.myLabelSize=='2em'}" ng-click="config.myLabelSize='2em'"></i> 
                  <i  class="fa fa-font text-muted" style="font-size:20px" ng-class="{'text-info':config.myLabelSize=='3em'}" ng-click="config.myLabelSize='3em'"></i>
                  <i  class="fa fa-font text-muted" style="font-size:22px" ng-class="{'text-info':config.myLabelSize=='4em'}" ng-click="config.myLabelSize='4em'"></i>
          </div>
          <div  class="form-group col-md-offset-1">
              <label for="">Title Text</label></br>
                <label class="radio-inline">
                      <input type="radio" ng-model="config.titleTextLabel" name="inlineRadioOptions" id="inlineRadio1" value="slick"> On
                </label>
                <label class="radio-inline">
                      <input type="radio" ng-model="config.titleTextLabel" name="inlineRadioOptions" id="inlineRadio1" value=""> Off
                </label>
          </div>
          <div  class="form-group col-md-offset-1">
              <label for="labColor" style="margin-top:10px;">Color</label></br>
              <div  name="labColor" class="btn-group">
                <button class="btn btn-default" ng-click="config.myLabelColor = ''">&nbsp;</button> 
                <button class="btn gray-lighten" ng-click="config.myLabelColor = 'text-muted'">&nbsp;</button> 
                <button class="btn btn-primary" ng-click="config.myLabelColor = 'text-primary'">&nbsp;</button>
                <button class="btn btn-success" ng-click="config.myLabelColor = 'text-success'">&nbsp;</button> 
                <button class="btn btn-info" ng-click="config.myLabelColor = 'text-info'">&nbsp;</button> 
                <button class="btn btn-warning" ng-click="config.myLabelColor = 'text-warning'">&nbsp;</button> 
                <button class="btn btn-danger" ng-click="config.myLabelColor = 'text-danger'">&nbsp;</button>  
              </div>
          </div>
        </div>
      </div>
    </form>
    <form>
            <label for="buttonSize" style="margin-top:10px;">Text Editor</label></br>
            <div class="btn-group">
              <button type="button" class="btn btn-primary" ng-click="config.isBold = ''">X</button>
              <button type="button" class="btn btn-primary" ng-click="config.isBold = 'lighter'" style="font-weight:lighter">A</button>
              <button type="button" class="btn btn-primary" ng-click="config.isBold = 'normal'" style="font-weight:normal">A</button>
              <button type="button" class="btn btn-primary" ng-click="config.isBold = 'bold'" style="font-weight:bold">A</button>
              <button type="button" class="btn btn-primary" ng-click="config.isBold = 'bolder'" style="font-weight:bolder">A</button>
            </div>
            <div class="btn-group">

              <button type="button" class="btn btn-primary" ng-click="config.isDecorated = 'none'">X</button>
              <button type="button" class="btn btn-primary" ng-click="config.isDecorated = 'underline'" style="font-weight:normal"><i class="fa fa-underline"></i></button>
              <button type="button" class="btn btn-primary" ng-click="config.isDecorated = 'overline'" style="font-weight:bold" ><span style="text-decoration:overline">A</span></button>
              <button type="button" class="btn btn-primary" ng-click="config.isDecorated = 'line-through'" style="font-weight:bolder"><i class="fa fa-strikethrough"></i></button>
            </div>
          </form>
    <form>
      <label for="buttonSize" style="margin-top:10px;">Text Alignment</label></br>
      <div class="btn-group">
         <button type="button" class="btn btn-primary" ng-click="config.buttonAlign = 'left'"><i class="fa fa-align-left"></i></button>
           <button type="button" class="btn btn-primary" ng-click="config.buttonAlign = 'center'"><i class="fa fa-align-center"></i></button>
         <button type="button" class="btn btn-primary" ng-click="config.buttonAlign = 'right'"><i class="fa fa-align-right"></i></button>
      </div>
    </form>
  </div>
</div>
<div class="panel panel-default" ng-show="config.showSettings">
  <div class="panel-heading">
    <h5><i class="fa fa-cube"></i> Widget Style Configuration</h5>
  </div>
  <div class="panel-body">
    <form class="form-inline"  style="margin-bottom:10px;">
      <div class="panel panel-default">
        <div class="panel-body">
          <div  class="form-group" >
            <label for="background">Background</label></br>
            <div class="checkbox">
                <label>
                  <input ng-model="config.showPanel" name="background" type="checkbox"> Display
                </label>
               </div>
            </div>
          <div  class="form-group col-md-offset-1" ng-if="config.showPanel" style="margin-left:60px;">
            <label for="bgColor" style="margin-left:10px; margin-top:10px;">Color</label></br>
            <div style="margin-left:10px;" class="btn-group">
              <button class="btn btn-default" ng-click="config.bgColor = ''">&nbsp;</button>
              <button class="btn darkGray" ng-click="config.bgColor = 'darkGray'">&nbsp;</button>
              <button class="btn gray" ng-click="config.bgColor = 'gray'">&nbsp;</button>
              <button class="btn btn-primary" ng-click="config.bgColor = 'blue'">&nbsp;</button>
              <button class="btn btn-success" ng-click="config.bgColor = 'green'">&nbsp;</button>
              <button class="btn btn-info" ng-click="config.bgColor = 'lightBlue'">&nbsp;</button>
              <button class="btn btn-warning" ng-click="config.bgColor = 'yellow'">&nbsp;</button>
              <button class="btn btn-danger" ng-click="config.bgColor = 'red'">&nbsp;</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <form class="form-inline" role="form">
      <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
              <label  for="margin-top">Margin-Top</label></br>
              <input type="text" ng-model="config.marginTop" class="form-control" id="margin-top" placeholder="10px">
            </div>
            <div class="form-group col-md-offset-1">
              <label  for="margin-bottom">Margin-Bottom</label></br>
              <input type="text" ng-model="config.marginBottom" class="form-control" id="margin-bottom" placeholder="10px">
            </div>
        </div>
      </div>
      </form>
  </div>
</div>