<div class="modal-header bg-primary">
    <button type="button" class="close" ng-click="closeGroupDialog()" aria-hidden="true">&times;</button>
    <h4 class="modal-title"><i class="fa fa-tachometer"></i> Add Group</h4>
</div>
<div class="modal-body">
    <form role="form" name="frm">
		<div class="form-group" >
			<label for="modelName">Model</label><br />
			<input class="form-control" type="text" placeholder="Group Name" ng-model="groupName" />
		</div>

    </form>
</div>
<div class="modal-footer">
    <span class="pull-left"><img src="/assets/omniboard.png"></span>
    <button type="button" class="btn" ng-class="{'btn-primary':!saved, 'btn-success':saved}" ng-click="save(groupName)" ng-disabled="frm.$invalid">
        <i class="fa fa-save"></i> Save
    </button>
    <button type="button" class="btn btn-danger" ng-click="closeGroupDialog()"><i class="fa fa-times-circle-o"></i> Close</button>

</div>