<div class="modal-header bg-primary">
	<h4 class="modal-title"><i class="fa fa-exclamation-triangle"></i> Delete Group</h4>
</div>
<div class="modal-body">
	<div><strong>Once you delete, the change cannot be reverted back.</strong></div>
</div>
<div class="modal-footer">
	<span class="pull-left"><img src="/assets/omniboard.png"></span>
	<button type="button" class="btn" ng-click="deleteGroup(groupID)"><i class="fa fa-trash-o"></i> Delete</button>
	<button type="button" class="btn btn-danger" ng-click="closeDialog()"><i class="fa fa-times-circle-o"></i> Close</button>
</div>