<div class="modal-header" ng-class="{'bg-primary': !expires, 'override': expires}">
	<h3 class="modal-title">{{name}}
	<button type="button" class="close" ng-click="closeDialog()" aria-hidden="true">&times;</button></h3>
	
		<p ng-if="expires" class="slick ">Use this form to command the value of points of this point type on the remote device. When you click the {{editorOptionName}} Command button, Omniboard will send a command to the remote device. The current value will expire in {{overRideExpiresIn}} minutes.</p>		
		<p ng-if="!expires" class="slick">Use this form to command the value of points of this point type on the remote device. When you click the {{editorOptionName}} Command button, Omniboard will send a command to the remote device.</p>
			
	
</div>
<div class="modal-body">
<div class="row">
			<div ng-include="editorTemplate()"></div>
	</div>		
</div>
	<div class="modal-footer" style="margin-top:0px;">
		<alert ng-if="confirm" class="slick alert-danger" style="font-size:12px"><i class="fa fa-exclamation-triangle"></i> Changes are about to be pushed to all sites inside the group. Click "Confirm" to Continue</alert>
		<span class="pull-left"><img src="/assets/omniboard.png"></span>
		<button type="button" ng-if="confirm"  class="btn btn-success" ng-click="commandGroupPoint()"><i class="fa" ng-class="{'fa-spinner':loading == true, 'fa-times-circle-o': !loading, 'fa-spin': loading == true }"></i> Confirm</button>
		<button type="button" class="btn btn-primary" ng-click="closeDialog()"><i class="fa" ng-class="{'fa-spinner':loading == true, 'fa-times-circle-o': !loading, 'fa-spin': loading == true }"></i> Close</button>
	</div>

