<div class="modal-header bg-primary">
    <button type="button" class="close" ng-click="closeDialog()" aria-hidden="true">&times;</button>
    <button class="btn btn-primary pull-right" ng-show="copyEvent" ng-click="pasteEvent();" title="Paste Event">
        <i class="fa fa-paste"></i>
    </button> 
    <h4 class="modal-title"><i class="fa fa-tachometer"></i> Save Group?</h4>
</div>
<div class="modal-body">
   <h4 class="slick"> <i class="fa fa-info-circle"></i> Changes have been made to the Group.  What would you like to do.</h4><br />
    <ul ng-repeat="(id,data) in changesPending" style="list-style-type: none;">
    	<li><p class="slick text-primary"><i class="fa fa-dot-circle-o"></i> {{data.title}}</p></li>
    </ul>
</div>
<div class="modal-footer">
    <span class="pull-left"><img src="/assets/omniboard.png"></span>
    <button type="button" class="btn " ng-click="cancelDialog()"><i class="fa fa-trash"></i> Clear Changes</button>
    <button type="button" class="btn btn-primary" ng-click="save()"><i class="fa fa-save"></i> Commit Changes</button>
    <button type="button" class="btn btn-danger" ng-click="closeDialog()"><i class="fa fa-times-circle-o"></i> Close</button>
</div>