
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="panel panel-default ">
			
				<div class="panel-heading">
					
						<span><img src="/assets/omniboard.png">
						<small class=" text-muted pull-right"><i class="fa fa-user"></i> Secure Sign In</small></span>
					
				</div>
				<div class="panel-body">
					<p class="text-danger" ng-show="loginError">{{errorMessage}}</p>
					<form role="form" >
						<fieldset >
							<div class="form-group" >
								<div class="input-group" on-enter="login()">
									<input class="form-control input-lg" ng-model="username" placeholder="E-mail" name="email" type="email" autofocus  ng-disabled="processing">
									<span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>

								</div>
							</div>
							<div class="form-group" >
								<div class="input-group" on-enter="login()">							
									<input class="form-control input-lg" ng-model="password" placeholder="Password" name="password" type="password" value="" ng-disabled="processing">
									<span class="input-group-addon"><i class="fa fa-asterisk fa-fw"></i></span>								
								</div>
							</div>
							<button type="submit"  class="btn btn-lg btn-success btn-block"  ng-click="login()" ng-disabled="processing">
								<span ng-if="!processing">Login</span>
								<span ng-if="processing">
									<i class="fa fa-spinner fa-spin"></i>
								</span>
							</button>
						</fieldset>
					</form>
					<!--<center class="text-muted small"><br><i class="fa fa-lock"></i> Secured with 128-Bit SSL Security</center>-->
				</div>
			</div>
		<div>
</div>