<div class="text-danger" ng-hide="modelName">Base Site, Device or Group not set. Widget data may not be displayed.</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h5><i class="fa fa-cogs"></i> Table Configuration</h5>
	</div>
	<div class="panel-body">
		<form class="form-inline" role="form">
			<!--div class="well well-sm">
				<div class="row">
					<div class="col-md-12">
						<label for="modelType">Model</label><br />
						<select class="form-control" style="width:100%" name="modelName" ng-model="config.modelName" ng-options="key as key for (key,type) in modelNames" ng-change="setModelType(config.modelName)">
							<option value="" selected="selected">Select</option>
						</select>
					</div>
				</div>
			</div-->
			<div class="well well-sm">
				<div class="row">
					<div class="col-md-12">
						<div class="input-group margin-bottom-sm">
							<label for="modelType">Table Title</label>
							<br/>
							<input class="form-control" type="text" ng-model="config.tableTitle" placeholder="Table Title">
						</div>
					</div>
				</div>
			</div>
			<div class="well well-sm">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-info" >
							<div class="panel-heading">
								<h4 class="panel-title">
									<i class="fa fa-th"></i>  Available {{config.modelName}} Types
								</h4>
							</div>
							<div>
								<div class="panel-body" >
									<div class="input-group margin-bottom-sm">
										<span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
										<input class="form-control" type="text" ng-model="searchAvailableModel" placeholder="Search">
									</div>
									<div style="height:150px; overflow-y:scroll">
										<table class="table table-hover table-responsive table-striped">
											<thead>
												<th>{{config.modelName}} Types</th>
											</thead>
											<tbody class=''>
												<tr ng-repeat="(id,data) in availableModelTypes | filter:searchAvailableModel" ng-if="!config.selectedTypes[id]" >
													<td>{{data.Name}}</td>
													<td><button ng-click="selectType(id)" type="button" class="btn btn-success btn-xs pull-right" >Add <i class="fa fa-arrow-circle-down"></i></button></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="panel panel-info" >
							<div class="panel-heading">
								<h4 class="panel-title">
									<i class="fa fa-th"></i> Selected {{config.modelName}} Types
								</h4>
							</div>
							<div>
								<div class="panel-body">
									<div class="input-group margin-bottom-sm">
										<span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
										<input class="form-control" type="text" ng-model="searchSelectedModel" placeholder="Search">
									</div>
									<div style="height:150px; overflow-y:scroll">
										<table class="table table-hover table-responsive table-striped">
											<thead>
												<th>{{config.modelName}} Types</th>
												<th>Unit</th>
											</thead>
											<tbody class=''>
												<tr ng-repeat="(id,type) in config.selectedTypes | filter:searchSelectedModel">
													<td>{{type.Name}}</td>
													<td>
														<select class="form-control" name="unit" ng-model="type.unit" ng-options="unit.Name as unit.Name for unit in units">
															<option value="" selected="selected">Select</option>
														</select>
													</td>
													<td><button type="button" ng-click="removeType(id)" class="btn btn-danger btn-xs pull-right" >Remove <i class="fa fa-arrow-circle-up"></i></button></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--div class="well well-sm">
				<div class="row">
					<div ng-if="unitsAvailable" class="col-sm-6">
						<div class="form-group">
							<label for="unit">Unit</label><br/>
							<select class="form-control" name="unit" ng-model="config.unit" ng-options="unit.Name as unit.Name for unit in units">
								<option value="" selected="selected">Select</option>
							</select>
						</div>
					</div>
				</div>
			</div-->
			<div class="well well-sm">
				<div class="row">
					<div class="col-md-12">
						<div  class="form-group" >
							<label for="interval">Show Last 24 Hours</label>
							<br/>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="show24hr"  ng-model="config.show24hr" />
								</label>
							 </div>
						</div>
					</div></br>
				</div>
				<div class="row" ng-show="!config.show24hr">
					<div class="col-md-4" ng-show="!config.show24hr">
						<div class="form-group">
							<label for="interval">Date Range Option</label><br/>

							<select class="form-control" name="dateRange" ng-model="config.dateRange" ng-style="customState" ng-change="getDatesFromDateRange(config.dateRange)">

								<option value="" SELECTED>Please Select</option>
								<option value="Today">Today</option>
								<option value="Last Week">Last 7 Days</option>
								<option value="Last 30 Days">Last 30 Days</option>
								<option value="Last Year">Last Year</option>
								<option value="Week To Date">Week To Date</option>
								<option value="Month To Date">Month To Date</option>
								<option value="Year To Date">Year To Date</option>
								<option value="Custom">Custom</option>
							</select>
							<span ng-show="frm.show24hr.$error.required" class="help-inline">*Required</span>
						</div>
					</div>
					<div class="col-md-4" ng-show="!config.show24hr">
						<div class="form-group">
							<label for="interval">Start Date</label><br/>
							<p class="input-group">

								<input type="text" class="form-control" name="startDate" datepicker-popup="MMMM d, yyyy" placeholder="To" ng-model="config.startDate" is-open="openedTo" min="minDate" max="" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-click="op($event,'openedTo')" ng-disabled="config.dateRange != 'Custom'"/>

								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="op($event,'openedTo')"><i class="fa fa-calendar"></i></button>
								</span>
							</p>
							<span ng-show="frm.startDate.$error.required" class="help-inline">*Required</span>
						</div>
					</div>
					<div class="col-md-4" ng-show="!config.show24hr">
						<div class="form-group">
							<label for="interval">End Date</label><br/>
							<p class="input-group">

								<input type="text" class="form-control" name="endDate" datepicker-popup="MMMM d, yyyy" placeholder="From" ng-model="config.endDate" is-open="openedFrom" min="minDate" max="" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-click="op($event,'openedFrom')" ng-disabled="config.dateRange != 'Custom'"/>

								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="op($event, 'openedFrom')"><i class="fa fa-calendar"></i></button>
								</span>
							</p>
							<span ng-show="frm.endDate.$error.required" class="help-inline">*Required</span>
						</div>
					</div>

				</div>
			
			</div>
			<div class="well well-sm">
				<div class="row">
					<table class="table table-hover table-responsive table-striped">
						<thead>
							<th colspan="5">Show Columns</th>
						</thead>
						<tbody class=''>
							<tr ng-repeat="(key,col) in config.columns" ng-if="config.columns && col.name != 'Value'">
								<td>
									<div style="margin-left:10px" class="checkbox">
										<label><input ng-model="col.show" type="checkbox"></label>
									</div>
								</td>
								<td style="font-weight:bold;">
									{{col.name}}
								</td>
								<td>
									<div style="margin-left:10px;margin-right:10px;" class="checkbox">
										<label><input ng-model="col.format" type="checkbox"> Format</label>
									</div>
								</td>
								<td>
									<button type="button" ng-click="moveUp(key)" ng-if="key > 0" class="btn btn-primary btn-xs pull-right">Move Up <i class="fa fa-arrow-circle-up"></i></button>
								</td>
								<td>
									<button type="button" ng-click="moveDown(key)" ng-if="key < (config.columns.length - 1)" class="btn btn-primary btn-xs">Move Down <i class="fa fa-arrow-circle-down"></i></button>
								</td>
							</tr>
						</tbody>
					</table>

					<!--div class="form-group">
						<label style="margin-top:10px;margin-left:10px;" for="labelProp">Columns</label>
						<br/>
						<div class="row" ng-repeat="(key,col) in config.columns">
							<div style="margin-left:30px" class="checkbox">
								<label>
									<input ng-model="col.show" type="checkbox"> {{col.name}}
								</label>
							</div>
						</div>
					</div-->
				</div>
			</div>
			<div class="well well-sm">
				<div class="row">
					<div class="col-md-12">
						<label for="modelType">Row Aggregation</label>
						<br/>
						<select name="rollUp" ng-model="config.rollUp" class="form-control" style="width:100%">
								<option value="SUM">SUM</option>
								<option value="MAX">MAX</option>
								<option value="AVG">AVG</option>
								<option value="MIN">MIN</option>
						</select>
					</div>
				</div>
			</div>
			<div class="well well-sm" ng-if="expressionNames">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label for="bgColor" style="margin-left:10px; margin-top:10px;">Table Header Color</label></br>
							<div style="margin-left:10px;" class="btn-group">
								<button class="btn btn-default" ng-click="config.bgColor = ''">&nbsp;</button>
								<button class="btn darkGray" ng-click="config.bgColor = 'darkGray'">&nbsp;</button>
								<button class="btn gray" ng-click="config.bgColor = 'gray'">&nbsp;</button>
								<button class="btn btn-primary" ng-click="config.bgColor = 'blue'">&nbsp;</button>
								<button class="btn btn-success" ng-click="config.bgColor = 'green'">&nbsp;</button>
								<button class="btn btn-info" ng-click="config.bgColor = 'lightBlue'">&nbsp;</button>
								<button class="btn btn-warning" ng-click="config.bgColor = 'yellow'">&nbsp;</button>
								<button class="btn btn-danger" ng-click="config.bgColor = 'red'">&nbsp;</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="well well-sm" ng-if="expressionNames">
				<div class="row">
					<div class="col-md-12">
						<label for="Expression">Expression</label>
						<br/>
						<select name="selectedExpression" ng-model="config.selectedExpression" ng-options="key as key for (key,type) in expressionNames" ng-change="config.expressionType = ''" class="form-control" style="width:100%">
							<option value="">Select</option>
						</select>
					</div>
				</div>
				<div class="row">
					<br/>
					<div class="col-md-12" ng-if="config.selectedExpression && config.selectedExpression != ''">
						<label for="expressionType">Expression Type</label>
						<br/>
						<select class="form-control" name="expressionType" ng-model="config.expressionType" ng-change="loadExpressionTypeCategories(config.expressionType)" style="width:100%">
							<option value="">[Choose a Type]</option>
							<option value="cv">Calculated Value</option>
							<option value="alarm">Alarm</option>
						</select>
					</div>
				</div>
				<div class="row">
					<br/>
					<div class="col-md-12" ng-if="expressionTypeCategories && config.expressionType && config.expressionType != ''">
						<label for="expressionTypeCategory">Expression Category</label>
						<br/>
						<select class="form-control" name="expressionTypeCategory" ng-model="config.expressionTypeCategory" ng-options="key as key for (key,type) in expressionTypeCategories" style="width:100%">
							<option value="">[Choose a Category]</option>
						</select>
					</div>
				</div>
			</div>

			<div class="well well-sm" ng-show="config.showSettings">
				<div class="form-group">
					<label for="margin-top">Margin-Top</label>
					</br>
					<input type="text" ng-model="config.marginTop" class="form-control" id="margin-top" placeholder="10px">
				</div>
				<div class="form-group col-md-offset-1">
					<label for="margin-bottom">Margin-Bottom</label>
					</br>
					<input type="text" ng-model="config.marginBottom" class="form-control" id="margin-bottom" placeholder="10px">
				</div>
			</div>
			<div class="well well-sm" ng-show="config.showSettings">
				<div class="form-group">
					<label for="">Number Fraction Size </label></br>
					<select class="form-control" name="fractionSize" ng-model="config.fractionSize">
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
				</div>
			</div>
		</form>
	</div>
</div>