<div ng-if="!config.sparkline" ng-class="{'panel': config.showPanel ,'panel-default': config.showPanel, 'widgetPrimary': config.bgColor == 'blue' &&  config.showPanel, 'widgetSuccess': config.bgColor == 'green' &&  config.showPanel, 'widgetInfo': config.bgColor == 'lightBlue' &&  config.showPanel, 'widgetWarning': config.bgColor == 'yellow' &&  config.showPanel, 'widgetDanger': config.bgColor == 'red' &&  config.showPanel,'widgetGray': config.bgColor == 'gray' &&  config.showPanel, 'darkGray': config.bgColor == 'darkGray' &&  config.showPanel}" ng-style="{'margin-top': config.marginTop, 'margin-bottom' : config.marginBottom}">
	<div ng-if="dataLoaded && !dataLoadedError" ng-class="{'panel-body':config.showPanel}">
		<div class="col-md-8 "></div>
		<div class="col-md-4 ">
			<a  type="button" style="margin-left:20px;" class="pull-right text-info" ng-click="config.hideDetails=!config.hideDetails"><i class="fa" ng-class="{'fa-plus-circle': !config.hideDetails, 'fa-minus-circle': config.hideDetails}"></i></a>
			<div class="btn-group pull-right" style="margin-bottom:5px;"  ng-show="config.hideDetails">
				<button type="button" class="btn btn-xs btn-primary" 
						ng-click="setView()">
					<i class="fa fa-line-chart" ng-show="show !='graph'"></i> 
					<i class="fa fa-table" ng-show="show !='table'"></i> {{trendControlName}}
				</button>
			</div>
		</div>
		<center><span style="margin-top:50px" ng-hide="plotDrawn || noData" class="fa fa-spinner fa-spin fa-5x" ></span></center>
		<center><span style="margin-top:50px" ng-show="!plotDrawn && noData" class="fa fa-lg fa-exclamation-circle text-danger" > No Data Found</span></center>
		<div ng-show="show=='graph' && plotDrawn==true">
			<highchart config="trendConfig"></highchart>
		</div>
		<div class="row" ng-show="show=='table' && dataLoaded == true">
			<div class="col-md-12">
				<table class="table table-hover" >
					<tbody>
						<tr>
							<td ng-repeat="(id,key) in trendConfig.series" ng-if="trendConfig.series">
								<table class="table table-hover">
									<tr><td><strong>{{key.name | limitStringLength:14}}</strong></td></tr>
									<tr  ng-repeat="(i,data) in key.data track by i" ng-if="key.pointStart">
										<td>
											<p>{{key.data[i][0]  | date:'medium' }} 
											<span class="text-primary">{{key.data[i][1] | number : 2}}</span></p>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>