<div>

	<div class="btn-group" style="margin-bottom:5px; color:#eeeeee">
		<button class="btn btn-xs darkGray" style="color:#eeeeee" ng-click="loadItemsForWeek('sub')">Prev</button>
		<button ng-click="loadItemsForWeek('add')" style="color:#eeeeee" class="btn btn-xs darkGray">Next</button>
	</div>


	<table class="table">
		<tr class="darkGray">
			<th class="table-row1"></th>
			<th class="table-border slick text-center">Sun {{weekDates[0]}}</th>
			<th class="table-border slick text-center">Mon {{weekDates[1]}}</th>
			<th class="table-border slick text-center">Tues {{weekDates[2]}}</th>
			<th class="table-border slick text-center">Wed {{weekDates[3]}}</th>
			<th class="table-border slick text-center">Thurs {{weekDates[4]}}</th>
			<th class="table-border slick text-center">Fri {{weekDates[5]}}</th>
			<th class="table-border slick text-center">Sat {{weekDates[6]}}</th>
		</tr>

		<tr ng-repeat="(id,time) in timeArray">

			<td class="table-row1"><span class="slick table-time">{{time.format}}</span></td>
			<td class="table-border squaredotted">
				<div style="overflow-y:visible;height:30px; width:100%" class="container1" ng-class="{'active':flexbox}" data-drop="true" data-jqyoui-options jqyoui-droppable="{onDrop:'onDrop(time)'}" data-time="{{time.value}}" data-day="{{weekDates[0]}}">
					<div dropItem="thisWeeksTimeBlocks[weekDates[0]][id][key]" style="height:30px; overflow-y:visible;background-color:#eee" ng-repeat="(key,data) in thisWeeksTimeBlocks[weekDates[0]][id]" data-drag="true" data-jqyoui-options="{revert: 'invalid',snap:'.squaredotted',snapMode: 'inner'}" jqyoui-draggable="{animate:true,onStart:'onStart(thisWeeksTimeBlocks[weekDates[0]][id][key],weekDates[0],id,key)'}">
						<div ng-draggable height='data.blockHeight' on-resize-y='onResizeY(thisWeeksTimeBlocks[weekDates[0]][id][key])' resizey="true" resizex="false" lockx="true" locky="true"
						 style="top:0px; padding: 5px;border-radius: 3px;z-index: auto;" ng-class="{'exception':data.type == 'one-time', 'schedDateRange':data.type == 'date-range', 'schedTimeBlock': data.exception == false}">
							<span class="slick">
								{{data.start| date:'HH'}}:{{data.start| date:'mm'}} - {{data.end| date:'HH'}}:{{data.end | date:'mm'}}<br />
							</span>
						</div>
					</div>
				</div>
			</td>
			<td class="table-border squaredotted">
				<div style="overflow-y:visible;height:30px; width:100%" class="container1" ng-class="{'active':flexbox}" data-drop="true" data-jqyoui-options jqyoui-droppable="{onDrop:'onDrop(time)'}" data-time="{{time.value}}" data-day="{{weekDates[1]}}">
					<div dropItem="thisWeeksTimeBlocks[weekDates[1]][id][key]" style="height:30px; overflow-y:visible;background-color:#eee" ng-repeat="(key,data) in thisWeeksTimeBlocks[weekDates[1]][id]" data-drag="true" data-jqyoui-options="{revert: 'invalid',snap:'.squaredotted',snapMode: 'inner'}" jqyoui-draggable="{animate:true,onStart:'onStart(thisWeeksTimeBlocks[weekDates[1]][id][key],weekDates[1],id,key)'}">
						<div ng-draggable height='data.blockHeight' on-resize-y='onResizeY(thisWeeksTimeBlocks[weekDates[1]][id][key])' resizey="true" resizex="false" lockx="true" locky="true"
						 style="top:0px; padding: 5px;border-radius: 3px;z-index: auto;" ng-class="{'exception':data.type == 'one-time', 'schedDateRange':data.type == 'date-range', 'schedTimeBlock': data.exception == false}">
							<span class="slick">
								{{data.start| date:'HH'}}:{{data.start| date:'mm'}} - {{data.end| date:'HH'}}:{{data.end | date:'mm'}}<br />
							</span>
						</div>
					</div>
				</div>
			</td>
			<td class="table-border squaredotted">
				<div style="overflow-y:visible;height:30px; width:100%" class="container1" ng-class="{'active':flexbox}" data-drop="true" data-jqyoui-options jqyoui-droppable="{onDrop:'onDrop(time)'}" data-time="{{time.value}}" data-day="{{weekDates[2]}}">
					<div dropItem="thisWeeksTimeBlocks[weekDates[2]][id][key]" style="height:30px; overflow-y:visible;background-color:#eee" ng-repeat="(key,data) in thisWeeksTimeBlocks[weekDates[2]][id]" data-drag="true" data-jqyoui-options="{revert: 'invalid',snap:'.squaredotted',snapMode: 'inner'}" jqyoui-draggable="{animate:true,onStart:'onStart(thisWeeksTimeBlocks[weekDates[2]][id][key],weekDates[2],id,key)'}">
						<div ng-draggable height='data.blockHeight' on-resize-y='onResizeY(thisWeeksTimeBlocks[weekDates[2]][id][key])' resizey="true" resizex="false" lockx="true" locky="true"
						 style="top:0px; padding: 5px;border-radius: 3px;z-index: auto;" ng-class="{'exception':data.type == 'one-time', 'schedDateRange':data.type == 'date-range', 'schedTimeBlock': data.exception == false}">
							<span class="slick">
								{{data.start| date:'HH'}}:{{data.start| date:'mm'}} - {{data.end| date:'HH'}}:{{data.end | date:'mm'}}<br />
							</span>
						</div>
					</div>
				</div>
			</td>
			<td class="table-border squaredotted">
				<div style="overflow-y:visible;height:30px; width:100%" class="container1" ng-class="{'active':flexbox}" data-drop="true" data-jqyoui-options jqyoui-droppable="{onDrop:'onDrop(time)'}" data-time="{{time.value}}" data-day="{{weekDates[3]}}">
					<div dropItem="thisWeeksTimeBlocks[weekDates[3]][id][key]" style="height:30px; overflow-y:visible;background-color:#eee" ng-repeat="(key,data) in thisWeeksTimeBlocks[weekDates[3]][id]" data-drag="true" data-jqyoui-options="{revert: 'invalid',snap:'.squaredotted',snapMode: 'inner'}" jqyoui-draggable="{animate:true,onStart:'onStart(thisWeeksTimeBlocks[weekDates[3]][id][key],weekDates[3],id,key)'}">
						<div ng-draggable height='data.blockHeight' on-resize-y='onResizeY(thisWeeksTimeBlocks[weekDates[3]][id][key])' resizey="true" resizex="false" lockx="true" locky="true"
						 style="top:0px; padding: 5px;border-radius: 3px;z-index: auto;" ng-class="{'exception':data.type == 'one-time', 'schedDateRange':data.type == 'date-range', 'schedTimeBlock': data.exception == false}">
							<span class="slick">
								{{data.start| date:'HH'}}:{{data.start| date:'mm'}} - {{data.end| date:'HH'}}:{{data.end | date:'mm'}}<br />
							</span>
						</div>
					</div>
				</div>
			</td>
			<td class="table-border squaredotted">
				<div style="overflow-y:visible;height:30px; width:100%" class="container1" ng-class="{'active':flexbox}" data-drop="true" data-jqyoui-options jqyoui-droppable="{onDrop:'onDrop(time)'}" data-time="{{time.value}}" data-day="{{weekDates[4]}}">
					<div dropItem="thisWeeksTimeBlocks[weekDates[4]][id][key]" style="height:30px; overflow-y:visible;background-color:#eee" ng-repeat="(key,data) in thisWeeksTimeBlocks[weekDates[4]][id]" data-drag="true" data-jqyoui-options="{revert: 'invalid',snap:'.squaredotted',snapMode: 'inner'}" jqyoui-draggable="{animate:true,onStart:'onStart(thisWeeksTimeBlocks[weekDates[4]][id][key],weekDates[4],id,key)'}">
						<div ng-draggable height='data.blockHeight' on-resize-y='onResizeY(thisWeeksTimeBlocks[weekDates[4]][id][key])' resizey="true" resizex="false" lockx="true" locky="true"
						 style="top:0px; padding: 5px;border-radius: 3px;z-index: auto;" ng-class="{'exception':data.type == 'one-time', 'schedDateRange':data.type == 'date-range', 'schedTimeBlock': data.exception == false}">
							<span class="slick">
								{{data.start| date:'HH'}}:{{data.start| date:'mm'}} - {{data.end| date:'HH'}}:{{data.end | date:'mm'}}<br />
							</span>
						</div>
					</div>
				</div>
			</td>
			<td class="table-border squaredotted">
				<div style="overflow-y:visible;height:30px; width:100%" class="container1" ng-class="{'active':flexbox}" data-drop="true" data-jqyoui-options jqyoui-droppable="{onDrop:'onDrop(time)'}" data-time="{{time.value}}" data-day="{{weekDates[5]}}">
					<div dropItem="thisWeeksTimeBlocks[weekDates[5]][id][key]" style="height:30px; overflow-y:visible;background-color:#eee" ng-repeat="(key,data) in thisWeeksTimeBlocks[weekDates[5]][id]" data-drag="true" data-jqyoui-options="{revert: 'invalid',snap:'.squaredotted',snapMode: 'inner'}" jqyoui-draggable="{animate:true,onStart:'onStart(thisWeeksTimeBlocks[weekDates[5]][id][key],weekDates[5],id,key)'}">
						<div ng-draggable height='data.blockHeight' on-resize-y='onResizeY(thisWeeksTimeBlocks[weekDates[5]][id][key])' resizey="true" resizex="false" lockx="true" locky="true"
						 style="top:0px; padding: 5px;border-radius: 3px;z-index: auto;" ng-class="{'exception':data.type == 'one-time', 'schedDateRange':data.type == 'date-range', 'schedTimeBlock': data.exception == false}">
							<span class="slick">
								{{data.start| date:'HH'}}:{{data.start| date:'mm'}} - {{data.end| date:'HH'}}:{{data.end | date:'mm'}}<br />
							</span>
						</div>
					</div>
				</div>
			</td>
			<td class="table-border squaredotted">
				<div style="height:30px; width:100%" class="container1" ng-class="{'active':flexbox}" data-drop="true" data-jqyoui-options jqyoui-droppable="{onDrop:'onDrop(time)'}" data-time="{{time.value}}" data-day="{{weekDates[6]}}">
					<div dropItem="thisWeeksTimeBlocks[weekDates[6]][id][key]" style="height:30px; overflow-y:visible;background-color:#eee" ng-repeat="(key,data) in thisWeeksTimeBlocks[weekDates[6]][id]" data-drag="true" data-jqyoui-options="{revert: 'invalid',snap:'.squaredotted',snapMode: 'inner'}" jqyoui-draggable="{animate:true,onStart:'onStart(thisWeeksTimeBlocks[weekDates[6]][id][key],weekDates[6],id,key)'}">
						<div ng-draggable height='data.blockHeight' on-resize-y='onResizeY(thisWeeksTimeBlocks[weekDates[6]][id][key])' resizey="true" resizex="false" lockx="true" locky="true"
						 style="top:0px; padding: 5px;border-radius: 3px;z-index: auto;" ng-class="{'exception':data.type == 'one-time', 'schedDateRange':data.type == 'date-range', 'schedTimeBlock': data.exception == false}">
							<span class="slick">
								{{data.start| date:'HH'}}:{{data.start| date:'mm'}} - {{data.end| date:'HH'}}:{{data.end | date:'mm'}}<br />
							</span>
						</div>
					</div>
				</div>
			</td>

		</tr>
	</table>

</div>