<div ng-show="!dataLoadedError" ng-class="{'panel': config.showPanel ,'panel-default': config.showPanel, 'widgetPrimary': config.bgColor == 'blue' &&  config.showPanel, 'widgetSuccess': config.bgColor == 'green' &&  config.showPanel, 'widgetInfo': config.bgColor == 'lightBlue' &&  config.showPanel, 'widgetWarning': config.bgColor == 'yellow' &&  config.showPanel, 'widgetDanger': config.bgColor == 'red' &&  config.showPanel,'widgetGray': config.bgColor == 'gray' &&  config.showPanel, 'darkGray': config.bgColor == 'darkGray' &&  config.showPanel}" ng-style="{'margin-top': config.marginTop, 'margin-bottom' : config.marginBottom, 'margin-right' : config.marginRight, 'margin-left' : config.marginLeft}" ng-click="pointPopupDialog()" >
	<div ng-show="dataLoaded" ng-class="{'panel-body': config.showPanel, 'text-left': config.buttonAlign =='left','text-center': config.buttonAlign=='center','text-right':config.buttonAlign=='right'}">

		<div ng-show="lennoxErrorMessage">
			<div>
				<div ng-class="[config.myValueColor, config.titleTextValue]" ng-style="{'font-size':config.myValueSize, 'font-weight': config.isBold, 'text-decoration': config.isDecorated}">{{lennoxErrorMessage}}</div>
			</div>
			<div ng-class="[config.myLabelColor, config.titleTextLabel]">{{returnedDataVal}}</div>
			<div ng-class="[config.myModelColor, config.titleTextModel]">Lennox Error Code</div>
		</div>
	</div>
	<div ng-if="!dataLoaded && !editMode" ng-class="{'panel-body': config.showPanel}" class="text-center">
		<h3>
			<i class="fa fa-spinner fa-spin text-info"></i>
		</h3>
		<strong>Data Loading ...</strong>
	</div>
	<div ng-if="dataLoaded" ng-hide="true" ng-class="{'panel-footer': config.showPanel}" style="padding:0px 10px;"><span class="text-info"><i class="fa fa-clock-o"></i> {{localUpdatedTime | date:'M/d/yyyy HH:mm'}}</span></div>
	<popup point-popup-dialog="pointPopupDialog" config="config" returned-data="returnedData"></popup>
</div>
