<div class="row">
	<div  class="dashboardNotifier bg-primary">
		<span class="panel-title slick"><i class="fa fa-user"></i> User Profile</span>
		<span style="display:inline-block" class="pull-right"></span>
	</div>
	<div class="dashboardOptions darkGray" style="height:36px;">
		<span class="text-muted"><a ng-click="toggleNav()">
		<i class="fa fa-lg" ng-class="{'fa-chevron-circle-down': omniNavSettings.isShown(), 'fa-chevron-circle-right': !omniNavSettings.isShown()}"></i></a> Menu
		</span>
	</div>
</div>

<div style="margin-top:30px">
	<div class="col-md-12">
		<div class="modal-body">
			<div ng-if="!name" ng-class="panel-body" class="text-center">
				<h3>
					<i class="fa fa-spinner fa-spin text-info"></i>
				</h3>
				<strong style="color:#008cba;">Data Loading ...</strong>
			</div>
			<div ng-class="panel-body" ng-show="name">
				<div class="panel panel-default" style="margin-bottom:10px;">
					<div class="panel-body" style="margin-left:15px;/*max-height:418px; overflow-y:scroll;*/">
						<div>
							<table>
								<tr><td colspan="3"><alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert></td></tr>
								<tr ng-if="name"><td><label style="font-size:14px; font-family:verdana; font-style:italic; font-weight:bold; text-align:right">Name</label></td><td>:</td><td><span style="margin:2px;"></span><label style="color:#008cba; text-align:left">{{name}}</label></td></tr>
								<tr ng-if="userName"><td><label style="font-size:14px; font-family:verdana; font-style:italic; font-weight:bold; text-align:right">Username</label></td><td>:</td><td><span style="margin:2px;"></span><label style="color:#008cba; text-align:left">{{userName}}</label></td></tr>
								<tr ng-if="lastOnline"><td><label style="font-size:14px; font-family:verdana; font-style:italic; font-weight:bold; text-align:right">Last Login</label></td><td>:</td><td><span style="margin:2px;"></span><label style="color:#008cba; text-align:left">{{lastOnline | date:'yyyy-MM-dd HH:mm:ss Z'}}</label></td></tr>
								<tr><td><label style="font-size:14px; font-family:verdana; font-style:italic; font-weight:bold; text-align:right">Currently Online</label></td><td>:</td><td><span style="margin:2px;"></span><label ng-if="online" style="color:#008cba; text-align:left">Yes</label><label ng-if="!online" style="color:#008cba;">No</label></td></tr>
								<tr>
									<table>
										<tr>
											<td>
												<tr><td><hr/></td></tr>
												<tr><td><h4>Change Password</h4></td></tr>												
												<tr><td><label style="font-size:14px; font-family:verdana; font-style:italic; font-weight:bold; text-align:right">Enter current password</label></td></tr>
												<tr><td><input type="password" ng-model="currentPassword" class="form-control" placeholder="Current Password"><br/></td></tr>
												<tr><td><label style="font-size:14px; font-family:verdana; font-style:italic; font-weight:bold; text-align:right">Enter new password</label></td></tr>
												<tr><td><input type="password" ng-model="newPassword" class="form-control" placeholder="New Password"><br/></td></tr>
												<tr><td><label style="font-size:14px; font-family:verdana; font-style:italic; font-weight:bold; text-align:right">Re-enter new password</label></td></tr>
												<tr><td><input type="password" ng-model="confirmNewPassword" class="form-control" placeholder="Confirm New Password"><br/></td></tr>
												<tr><td><input type="button" value="Change Password" ng-click="changePassword()" class="btn btn-primary"/></td></tr>
											</td>
										</tr>
									</table>
								</tr>
							<table>					
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
