<div ng-if="!dataLoadedError"  ng-style="{'margin-top': config.marginTop, 'margin-bottom' : config.marginBottom, 'margin-right' : config.marginRight, 'margin-left' : config.marginLeft}">
	<div ng-if="dataLoaded" ng-class="{'panel-body': config.showPanel, 'text-left': config.buttonAlign =='left','text-center': config.buttonAlign=='center','text-right':config.buttonAlign=='right'}">
	<table class="table table-striped table-bordered table-condensed">
		<thead ng-class="{'widgetPrimary': config.bgColor == 'blue', 'widgetSuccess': config.bgColor == 'green', 'widgetInfo': config.bgColor == 'lightBlue', 'widgetWarning': config.bgColor == 'yellow', 'widgetDanger': config.bgColor == 'red','widgetGray': config.bgColor == 'gray', 'darkGray': config.bgColor == 'darkGray'}">
			<th colspan='3'>
				{{config.widgetTitle}} ({{config.dateRange}}) {{config.startDate | date:'mediumDate'}}-{{config.endDate | date:'mediumDate'}}
			</th>
		</thead>
		<tbody>
			<tr>
				<th>Point Type</th>
				<th>Value</th>
				<th>&nbsp;</th>
			</tr>
			<tr ng-style="{'margin-top': config.marginTop, 'margin-bottom' : config.marginBottom, 'margin-right' : 0, 'margin-left' : 0}" ng-repeat="data in returnedData">
				<td>
					{{ getName(data) }}
				</td>
				<td>
					{{ getDisplayValuewithUnit(data, config.valueProp) }}
				</td>
				<td>
					<a ng-if="returnedData && config.addLink == true" class="small-link" href="#/dashboard/{{config.linkDboard}}/{{config.linkModelName}}/{{data[config.linkModelName]}}">More Details {{ getValue(returnedData, config.labelProp) }}</a>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
</div>
<div ng-if="!dataLoaded && !dataLoadedError">
	<h3>
		<i class="fa fa-spinner fa-spin text-info"></i>
	</h3>
	<strong>Data Loading ...</strong>
</div>