<div class="modal-header bg-primary text-warning"  >

    <div class="row">
        <div class="col-md-9">
            <h3 class="modal-title">{{model.Name}}</h3>
            <p class="slick">You exceeded maximum value change threshold for this point. Please provide your reason.</p>
        </div>
        <div class="col-md-3"><center>
            <button type="button" class="close" ng-click="closeDialog()" aria-hidden="true">&times;</button>
            <h4 style="margin:0px;"><i class="fa fa-cloud-upload fa-4x "  ng-class="model['$' + config.modelName + 'Status'].Class"></i></h4>
        </center>
        </div>
    </div>
</div>
</div>
<div class="modal-body">
    <div class="row " >
        <div class="col-md-3" style="padding-left:5px" >
            <form role="form">
                <textarea style="margin: 0px; width: 550px; height: 66px;" ng-model="note.reason"></textarea>
                <button type="button" ng-click="saveData()" class="btn btn-block btn-primary"><i class="fa " ng-class="{'fa-spinner':loading == true, 'fa-arrow-circle-up': !loading, 'fa-spin': loading == true }"></i> Submit</button>
            </form>
        </div>
    </div>
</div>

<div class="modal-footer" style="margin-top:0px;">
    <span class="pull-left"><img src="/assets/omniboard.png"></span>
    <button type="button" class="btn btn-primary" ng-click="closeDialog()"><i class="fa fa-times-circle-o"></i> Close</button>
</div>