<div class="panel panel-default">
	<div class="panel-heading">
		<h5><i class="fa fa-bar-chart-o"></i> Sparkline Configuration</h5>
	</div>
	<div class="panel-body">
		<form class="form-inline" role="form">
			<div class="row">
				<div class="form-group col-lg-12">
					<label class="control-label" for="displayLastData">Display data for last </label>
					<select class="form-control" name="lastXHours" ng-model="config.lastXHours">
						<option value="" selected="selected">Custom Date Range</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
						<option value="24">24</option>
					</select>
					<label class="control-label" for="hours">hours</label>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-md-4" ng-show="!config.lastXHours">
						<div class="form-group">
							<label for="interval">Start Date</label><br />
							<p class="input-group">
								<input type="text" class="form-control" name="startDate" datepicker-popup="MMMM d, yyyy" placeholder="To" ng-model="config.startDate" is-open="openedTo" min="minDate" max="" datepicker-options="dateOptions" ng-change="verifyPossiblePointsReturned()" ng-required="true" close-text="Close" ng-click="op($event,'openedTo')" />
								<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="op($event,'openedTo')"><i class="fa fa-calendar"></i></button>
								</span>
							</p>
							<span ng-show="frm.startDate.$error.required" class="help-inline">*Required</span>
						</div>
				</div>
				<div class="col-md-4" ng-show="!config.lastXHours">
						<div class="form-group">
							<label for="interval">End Date</label><br />
							<p class="input-group">
								<input type="text" class="form-control" name="endDate" datepicker-popup="MMMM d, yyyy" placeholder="From" ng-model="config.endDate" is-open="openedFrom" min="minDate" max="" datepicker-options="dateOptions" ng-required="true" ng-change="verifyPossiblePointsReturned()" close-text="Close" ng-click="op($event,'openedFrom')" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="op($event, 'openedFrom')"><i class="fa fa-calendar"></i></button>
								</span>
							</p>
							<span ng-show="frm.endDate.$error.required" class="help-inline">*Required</span>
						</div>
				</div>
			</div>
			<div class="well well-sm">
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<label for="modelType">Model</label><br />
							<select class="form-control" name="modelName" ng-model="config.modelName" ng-change="updateModelTypes()" ng-options="key as key for (key,type) in modelNames">
								<option value="" selected="selected">Select</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
							<label for="modelType">Graphed Point</label><br />
							<select class="form-control" name="modelType" ng-model="config.modelType" ng-change="updateQuery()" ng-options="key as type.Name for (key,type) in modelTypes">
								<option value="" selected="selected">Select</option>
							</select>
							<span ng-show="frm.modelType.$error.required" class="help-inline">*Required</span>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6 pull-left" ng-show="config.showSettings">
						<div class="form-group">
							<label for="valueProp">Value Property</label><br />
							<select class="form-control" name="valueProp" ng-model="config.valueProp" ng-options="key as key for (key,prop) in trendables">
								<option value="" selected="selected">Select</option>
							</select>
							<span ng-show="frm.valueProp.$error.required" class="help-inline">*Required</span>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-5">
					<div class="form-group">
						<input type="checkbox" name="showCurrentValue" ng-model="config.showCurrentValue"/>
						<label for="interval">Show Current Value</label>
						<span ng-show="frm.showCurrentValue.$error.required" class="help-inline">*Required</span>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<input type="checkbox" name="showHoverDisplay" ng-model="config.showHoverDisplay"/>
						<label for="interval">Show Hover Display</label>
						<span ng-show="frm.showHoverDisplay.$error.required" class="help-inline">*Required</span>
					</div>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-md-5">
					<div class="form-group" ng-show="config.showCurrentValue">
						<label for="">Number Fraction Size </label></br>
						<select class="form-control" name="fractionSize" ng-model="config.fractionSize">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="panel panel-default" ng-show="config.showSettings">
	<div class="panel-heading">
		<h5><i class="fa fa-cube"></i> Widget Style Configuration</h5>
	</div>

	<div class="panel-body">
		<form class="form-inline" style="margin-bottom:10px;">
			<div class="panel panel-default">
				<div class="panel-body">
				<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label for="background">Background</label></br>
						<div class="checkbox">
							<label>
								<input ng-model="config.showPanel" name="background" type="checkbox"> Display
							</label>
						</div>
					</div>
				</div>
					<div class="form-group col-md-offset-1" ng-if="config.showPanel" style="margin-left:60px;">
						<label for="bgColor" style="margin-left:10px; margin-top:10px;">Color</label></br>
						<div style="margin-left:10px;" class="btn-group">
							<button class="btn btn-default" ng-click="config.bgColor = ''">&nbsp;</button>
							<button class="btn darkGray" ng-click="config.bgColor = 'darkGray'">&nbsp;</button>
							<button class="btn gray" ng-click="config.bgColor = 'gray'">&nbsp;</button>
							<button class="btn btn-primary" ng-click="config.bgColor = 'blue'">&nbsp;</button>
							<button class="btn btn-success" ng-click="config.bgColor = 'green'">&nbsp;</button>
							<button class="btn btn-info" ng-click="config.bgColor = 'lightBlue'">&nbsp;</button>
							<button class="btn btn-warning" ng-click="config.bgColor = 'yellow'">&nbsp;</button>
							<button class="btn btn-danger" ng-click="config.bgColor = 'red'">&nbsp;</button>
						</div>
					</div>
					</div>
				</div>
			</div>
		</form>
		<form class="form-inline" role="form">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="form-group">
						<label for="margin-top">Margin-Top</label></br>
						<input type="text" ng-model="config.marginTop" class="form-control" id="margin-top" placeholder="10px">
					</div>
					<div class="form-group col-md-offset-1">
						<label for="margin-bottom">Margin-Bottom</label></br>
						<input type="text" ng-model="config.marginBottom" class="form-control" id="margin-bottom" placeholder="10px">
					</div>
				</div>
			</div>
		</form>
	</div>
</div>