<div  ng-class="{'panel': config.showPanel ,'panel-default': config.showPanel, 'widgetPrimary': config.bgColor == 'blue' &&  config.showPanel, 'widgetSuccess': config.bgColor == 'green' &&  config.showPanel, 'widgetInfo': config.bgColor == 'lightBlue' &&  config.showPanel, 'widgetWarning': config.bgColor == 'yellow' &&  config.showPanel, 'widgetDanger': config.bgColor == 'red' &&  config.showPanel,'widgetGray': config.bgColor == 'gray' &&  config.showPanel, 'darkGray': config.bgColor == 'darkGray' &&  config.showPanel}" ng-style="{'margin-top': config.marginTop, 'margin-bottom' : config.marginBottom, 'margin-right' : config.marginRight, 'margin-left' : config.marginLeft}" ng-click="pointPopupDialog()" >
	<div ng-if="dataLoaded && !dataLoadedError" ng-class="{'panel-body': config.showPanel}">
		<div class="row">
			<div class="btn-group pull-right">
  				<button type="button" ng-click="showTable = false" class="btn btn-primary"><i class="fa fa-columns"></i></button>
 			    <button type="button" ng-click="showTable = true" class="btn btn-primary"><i class="fa fa-table"></i></button>
 			</div>
			<div ng-hide="showTable" style="float:left; width:204px; height:363px; margin-right:10px; margin-top:10px " ng-repeat="(id,data) in mainData track by id">
				
				<div class="row panel " ng-class="{'panel-toolbox': data.Status == 'Active','panel-error': data.Status == 'Error'}" ng-show="!showTable" style="margin-left:5px; color:#888;">
					
					<div class="col-sm-12 panel-heading">
						
						<img class="" src="/assets/lennoxUnit.png">
						
						
						<a class="pull-right" ui-sref="auth.dashboard.ready({name:'RTU Details', modelName:'Device',scopeID: data.id})"><i class="fa fa-info-circle"></i></a>
					</div>
					<div class="gray" ng-class="" style="padding-left:5px;">{{id}}</div>
					<div class="panel-body">
					
						<div class="row">
							<div class="col-sm-4">

								<span class="lead" ng-class="{'text-errorStatus': data['Space Temperature']._source.Status == 'Error', 'text-info': data['Space Temperature']._source.Status == 'Active'}" style="font-size:18px" title="{{data['Space Temperature']._source.Value}}">
									{{data['Space Temperature']._source.Value}}
								</span>
								<span class="lead" ng-class="{'text-errorStatus': data['Zone Temperature']._source.Status == 'Error', 'text-info': data['Zone Temperature']._source.Status == 'Active'}" style="font-size:18px" title="{{data['Zone Temperature']._source.Value}}">
									{{data['Zone Temperature']._source.Value}}
								</span>
								<span class="lead" ng-class="{'text-errorStatus': data['AvgSpaceTemp']._source.Status == 'Error', 'text-info': data['AvgSpaceTemp']._source.Status == 'Active'}" style="font-size:18px" title="{{data['AvgSpaceTemp']._source.Value}}">
									{{data['AvgSpaceTemp']._source.Value}}&deg;</span><br />
								<label>Spc.</label>
								
							</div>

							<div class="col-sm-4">
								<span class="lead" ng-class="{'text-errorStatus': data['Discharge Air Temperature']._source.Status == 'Error', 'text-info': data['Discharge Air Temperature']._source.Status == 'Active'}" style="font-size:18px" title="{{data['Discharge Air Temperature']._source.Value}}">
									{{data['Discharge Air Temperature']._source.Value}}
								</span>
								<span class="lead" ng-class="{'text-errorStatus': data['AUXILIARY SENSOR']._source.Status == 'Error', 'text-info': data['AUXILIARY SENSOR']._source.Status == 'Active'}" style="font-size:18px" title="{{data['AUXILIARY SENSOR']._source.Value}}">
									{{data['AUXILIARY SENSOR']._source.Value}}
								</span>
								<span class="lead" ng-class="{'text-errorStatus': data['Discharge Air Temp']._source.Status == 'Error', 'text-info': data['Discharge Air Temp']._source.Status == 'Active'}" style="font-size:18px" title="{{data['Discharge Air Temp']._source.Value}}">
									{{data['Discharge Air Temp']._source.Value}}
								</span>
								<span class="lead" ng-class="{'text-errorStatus': data['DischTemp']._source.Status == 'Error', 'text-info': data['DischTemp']._source.Status == 'Active'}" style="font-size:18px" title="{{data['DischTemp']._source.Value}}">
									{{data['DischTemp']._source.Value}}&deg;
								</span><br/>

								<label>Dis.</label>
							</div>
							<div class="col-sm-4"  ng-if="(data['Return Air Temperature']._source.Value || data['ReturnTemp']._source.Value)" >
								<span class="lead" ng-class="{'text-errorStatus': data['Return Air Temperature']._source.Status == 'Error', 'text-info': data['Return Air Temperature']._source.Status == 'Active'}"  style="font-size:18px" title="{{data['Return Air Temperature']._source.Value}}">
									{{data['Return Air Temperature']._source.Value}}
								</span>
								<span class="lead" ng-class="{'text-errorStatus': data['ReturnTemp']._source.Status == 'Error', 'text-info': data['ReturnTemp']._source.Status == 'Active'}" style="font-size:18px" title="{{data['ReturnTemp']._source.Value}}">
									{{data['ReturnTemp']._source.Value}}&deg;
								</span>
								<label>Ret.</label>
							</div>
						</div>
					
					<div class="row" style="min-height:32px">
						
				<p class="bg-warning lead text-center" ng-if="data['Effective Occupancy']._source.Value==1" >Unoccupied</p>
				<p class="bg-success lead text-center" ng-if="data['Effective Occupancy']._source.Value==0" >Occupied</p>
				<p class="bg-warning lead text-center" ng-if="data['Schedule Mode']._source.Value==1" >Unoccupied</p>
				<p class="bg-success lead text-center" ng-if="data['Schedule Mode']._source.Value==0" >Occupied</p>
				<p class="bg-warning lead text-center" ng-if="data['OfficeOccupancy']._source.Value==1" >Unoccupied</p>
				<p class="bg-success lead text-center" ng-if="data['OfficeOccupancy']._source.Value==0" >Occupied</p>


						
					</div>
					
						<div class="row" >
							<div class="col-sm-4">
								<label>Fan</label>
							</div>
							<div class="col-sm-6 pull-right">
								<span ng-if="data['Supply Fan Status']._source.Value==0" ng-class="{'text-errorStatus': data['Supply Fan Status']._source.Status == 'Error', 'text-info': data['Fan Status']._source.Status == 'Active'}">Off</span>
								<span ng-if="data['Supply Fan Status']._source.Value==1" ng-class="{'text-errorStatus': data['Supply Fan Status']._source.Status == 'Error', 'text-info': data['Supply Fan Status']._source.Status == 'Active'}">On</span>
								<span ng-if="data['Fan Status']._source.Value==0" ng-class="{'text-errorStatus': data['Fan Status']._source.Status == 'Error', 'text-info': data['Fan Status']._source.Status == 'Active'}">Off</span>
								<span ng-if="data['Fan Status']._source.Value==1" ng-class="{'text-errorStatus': data['Fan Status']._source.Status == 'Error', 'text-info': data['Fan Status']._source.Status == 'Active'}">On</span>
								<span ng-if="data['FanStatus']._source.Value==0" ng-class="{'text-errorStatus': data['Fan Status']._source.Status == 'Error', 'text-info': data['Fan Status']._source.Status == 'Active'}">Off</span>
								<span ng-if="data['FanStatus']._source.Value==1" ng-class="{'text-errorStatus': data['Fan Status']._source.Status == 'Error', 'text-info': data['Fan Status']._source.Status == 'Active'}">On</span>
							</div>
						</div>
					
						<div class="row">
							<div class="col-sm-2">
								<label>Damper</label>
							</div>
							<div class="col-sm-6 pull-right">
								<span ng-if="data['Outside Air Damper']._source.Value==0" ng-class="{'text-errorStatus': data['Outside Air Damper']._source.Status == 'Error', 'text-info': data['Outside Air Damper']._source.Status == 'Active'}">Closed</span>
								<span ng-if="data['Outside Air Damper']._source.Value>0" ng-class="{'text-errorStatus': data['Outside Air Damper']._source.Status == 'Error', 'text-info': data['Outside Air Damper']._source.Status == 'Active'}">Open</span>
								<span ng-if="data['Damper Position']._source.Value==0" ng-class="{'text-errorStatus': data['Damper Position']._source.Status == 'Error', 'text-info': data['Damper Position']._source.Status == 'Active'}">Closed</span>
								<span ng-if="data['Damper Position']._source.Value>0" ng-class="{'text-errorStatus': data['Damper Position']._source.Status == 'Error', 'text-info': data['Damper Position']._source.Status == 'Active'}">Open</span>
							</div>

						</div>
						<hr style="margin-top:10px; margin-bottom:10px;">
					<div class="row">
						<div class="col-sm-12">
							<label><i class="fa fa-asterisk"></i> Cooling</label></br>
							Occ. <span ng-class="{'text-errorStatus': data['CoolingOccupiedSetpoint']._source.Status == 'Error', 'text-info': data['CoolingOccupiedSetpoint']._source.Status == 'Active'}">
								{{data['CoolingOccupiedSetpoint']._source.Value}}
							</span>
							<span ng-class="{'text-errorStatus': data['CoolingSP']._source.Status == 'Error', 'text-info': data['CoolingSP']._source.Status == 'Active'}">
								{{data['CoolingSP']._source.Value}}
							</span>
							<span ng-class="{'text-errorStatus': data['Cool Setpoint']._source.Status == 'Error', 'text-info': data['Cool Setpoint']._source.Status == 'Active'}">
								{{data['Cool Setpoint']._source.Value}} &deg;
							</span> &nbsp;&nbsp;
							Unocc. 
							<span ng-class="{'text-errorStatus': pointStatus == 'Error', 'text-info': pointStatus == 'Active'}" ng-if="data['CoolingUnoccupiedSetpoint']._source.Value && !data['Cool Setback']._source.Value">
								{{data['CoolingUnoccupiedSetpoint']._source.Value}}
							</span>
							<span ng-class="{'text-errorStatus': data['Cool Setback']._source.Status == 'Error', 'text-info': data['Cool Setback']._source.Status == 'Active'}" ng-if="data['CoolingUnoccupiedSetpoint']._source.Value && !data['Cool Setback']._source.Value">
								{{data['Cool Setback']._source.Value}}
							</span>
							<span ng-class="{'text-errorStatus': data['Cool Setback']._source.Status == 'Error', 'text-info': data['Cool Setback']._source.Status == 'Active'}">
								{{data['Cool Setback']._source.Value}}
							</span>
							<span ng-class="{'text-errorStatus': data['UnoccCoolSP']._source.Status == 'Error', 'text-info': data['UnoccCoolSP']._source.Status == 'Active'}">
								{{data['UnoccCoolSP']._source.Value}} 
							</span> &deg;
						</div>
						<div class="col-sm-12">
							<label><i class="fa fa-fire text-warning"></i> Heating</label></br>
							Occ. 
							<span ng-class="{'text-errorStatus': data['HeatingSP']._source.Status == 'Error', 'text-warning': data['HeatingSP']._source.Status == 'Active'}">
								{{data['HeatingSP']._source.Value}}
							</span>
							<span ng-class="{'text-errorStatus': data['HeatingOccupiedSetpoint'].Status == 'Error', 'text-warning': data['HeatingOccupiedSetpoint'].Status == 'Active'}">
								{{data['HeatingOccupiedSetpoint']._source.Value}}
							</span>
							<span ng-class="{'text-errorStatus': data['Heat Setpoint']._source.Status == 'Error', 'text-warning': data['Heat Setpoint']._source.Status == 'Active'}">
								{{data['Heat Setpoint']._source.Value}} &deg;</span> &nbsp;&nbsp;
							</span>
							Unocc. 
							<span ng-class="{'text-errorStatus': pointStatus == 'Error', 'text-warning': pointStatus == 'Active'}"  ng-if="data['HeatingUnoccupiedSetpoint']._source.Value && !data['Heat Setback']._source.Value">
								{{data['HeatingUnoccupiedSetpoint']._source.Value}}
							</span>
							<span ng-class="{'text-errorStatus': data['Heat Setback']._source.Status == 'Error', 'text-warning': data['Heat Setback']._source.Status == 'Active'}"  ng-if="data['HeatingUnoccupiedSetpoint']._source.Value && !data['Heat Setback']._source.Value">
								{{data['Heat Setback']._source.Value}}
							</span>
							<span ng-class="{'text-errorStatus': data['Heat Setback']._source.Status == 'Error', 'text-warning': data['Heat Setback']._source.Status == 'Active'}" ng-if="data['Heat Setback']._source.Value">
								{{data['Heat Setback']._source.Value}}
							</span>
							<span ng-class="{'text-errorStatus': data['UnoccHeatSP']._source.Status == 'Error', 'text-warning': data['UnoccHeatSP']._source.Status == 'Active'}">
								{{data['UnoccHeatSP']._source.Value}}
							</span> &deg;
						</div>
					</div>
			</div>
			</div>

			<!--
			<div class="col-md-4" ng-repeat="(id,data) in returnedData track by id">
				<div  ng-class="{'panel': config.showRTUPanel ,'panel-default': config.showRTUPanel, 'widgetPrimary': config.RTUbgColor == 'blue' &&  config.showRTUPanel, 'widgetSuccess': config.RTUbgColor == 'green' &&  config.showRTUPanel, 'widgetInfo': config.RTUbgColor == 'lightBlue' &&  config.showRTUPanel, 'widgetWarning': config.RTUbgColor == 'yellow' &&  config.showRTUPanel, 'widgetDanger': config.RTUbgColor == 'red' &&  config.showRTUPanel,'widgetGray': config.RTUbgColor == 'gray' &&  config.showRTUPanel}"  ng-click="pointPopupDialog()" >

					<rtu-display 	
						rtu-name="data.data.Name"
						rtu-id="data.id"
						points="config.showPoints" />

				</div>
			</div>
			-->
		</div>
		<div ng-show="showTable">
			<table class="table ">
				<tr class="bg-primary">
					<th></th>
					<th>Name</th>
					<th>Space</th>
					<th >Discharge</th>
					<th  ng-if="mainData['HVAC01']['Return Air Temperature']._source.Value || mainData['HVAC01']['ReturnTemp']._source.Value || mainData['RTU']['ReturnTemp']._source.Value || mainData['RTU']['Return Air Temperature']._source.Value">Return</th>
					<th>Occupancy</th>
					<th >Sup. Fan</th>
					<th>Damper</th>
					<th>Occ. Cool SP</th>
					<th>Unocc. Cool SP</th>
					<th>Occ. Heat SP</th>
					<th>Unocc. Heat SP</th>
				</tr>

				<tr ng-repeat="(id,data) in mainData track by id">
					<td><a class="pull-right" ui-sref="auth.dashboard.ready({name:'RTU Details', modelName:'Device',scopeID: data.id})"><i class="fa fa-info-circle text-info"></i></a></td>
					<td>{{id}}</td>

					<td><span ng-class="{'text-errorStatus': data['Space Temperature']._source.Status == 'Error', 'text-info': data['Space Temperature']._source.Status == 'Active'}">
						{{data['Space Temperature']._source.Value}}
						</span>
						<span ng-class="{'text-errorStatus': data['Zone Temperature']._source.Status == 'Error', 'text-info': data['Zone Temperature']._source.Status == 'Active'}">
							{{data['Zone Temperature']._source.Value}}
						</span>
						<span ng-class="{'text-errorStatus': data['AvgSpaceTemp']._source.Status == 'Error', 'text-info': data['AvgSpaceTemp']._source.Status == 'Active'}">
							{{data['AvgSpaceTemp']._source.Value}}&deg;
						</span>
					</td>
					
					<td>
						<span ng-class="{'text-errorStatus': data['Discharge Air Temperature']._source.Status == 'Error', 'text-info': data['Discharge Air Temperature']._source.Status == 'Active'}">
							{{data['Discharge Air Temperature']._source.Value}}
						</span>
						<span  ng-class="{'text-errorStatus': data['AUXILIARY SENSOR']._source.Status == 'Error', 'text-info': data['AUXILIARY SENSOR']._source.Status == 'Active'}" >
									{{data['AUXILIARY SENSOR']._source.Value}}
								</span>
						<span ng-class="{'text-errorStatus': data['Discharge Air Temp']._source.Status == 'Error', 'text-info': data['Discharge Air Temp']._source.Status == 'Active'}">
							{{data['Discharge Air Temp']._source.Value}}
						</span>
						<span ng-class="{'text-errorStatus': data['DischTemp']._source.Status == 'Error', 'text-info': data['DischTemp']._source.Status == 'Active'}">
							{{data['DischTemp']._source.Value}}&deg;
						</span>
					</td>
					
					<td ng-if="data['Return Air Temperature']._source.Value || data['ReturnTemp']._source.Value">
						<span ng-class="{'text-errorStatus': data['Return Air Temperature']._source.Status == 'Error', 'text-info': data['Return Air Temperature']._source.Status == 'Active'}">
							{{data['Return Air Temperature']._source.Value}}
						</span>
						<span ng-class="{'text-errorStatus': data['ReturnTemp']._source.Status == 'Error', 'text-info': data['ReturnTemp']._source.Status == 'Active'}">
							{{data['ReturnTemp']._source.Value}}&deg;
						</span>
					</td>


					<td> 
						<span ng-if="!data['Effective Occupancy'] && !data['OfficeOccupancy']" ng-class="{'text-success': data['Schedule Mode']._source.Value == 0 , 'text-muted': data['Schedule Mode']._source.Value == 1}">{{data['Schedule Mode']._source.Value == 1 ? 'Unoccupied' : 'Occupied'}}</span>
					

					<span ng-if="!data['Schedule Mode'] && !data['OfficeOccupancy']">{{data['Effective Occupancy']._source.Value == 1 ? 'Unoccupied' : 'Occupied'}}</span>
					<span ng-if="!data['Schedule Mode'] && !data['Effective Occupancy']">{{data['OfficeOccupancy']._source.Value==1 ? 'Unoccupied' : 'Occupied'}}</span>



					</td>

					

					<td >
						<span ng-if="data['Supply Fan Status']" ng-class="{'text-success': data['Supply Fan Status']._source.Value == 1}">{{data['Supply Fan Status']._source.Value == 1 ? 'On' : 'Off'}}</span>

						<span ng-if="data['Fan Status']" ng-class="{'text-success': data['Fan Status']._source.Value == 1, 'text-muted': data['Fan Status']._source.Value == 0}">
						{{data['Fan Status']._source.Value == 1 ? 'On' : 'Off'}}</span>

						<span ng-if="data['FanStatus']" ng-class="{'text-success': data['FanStatus']._source.Value == 1, 'text-muted': data['FanStatus']._source.Value == 0}">
						{{data['FanStatus']._source.Value == 1 ? 'On' : 'Off'}}

						</span>
					</td>
					
					<td>

						{{data['Outside Air Damper']._source.Value}}{{data['Damper Position']._source.Value}}
					</td>

					<td ng-click="pointPopupDialog(data['DefaultOccCoolSP'])" >
						<strong>
							<span ng-class="{'text-errorStatus': data['CoolingOccupiedSetpoint']._source.Status == 'Error', 'text-info': data['CoolingOccupiedSetpoint']._source.Status == 'Active'}">
								{{data['CoolingOccupiedSetpoint']._source.Value}}
							</span>
							<span ng-class="{'text-errorStatus': data['Cool Setpoint']._source.Status == 'Error', 'text-info': data['Cool Setpoint']._source.Status == 'Active'}">
								{{data['Cool Setpoint']._source.Value}}
							</span>
							<span ng-class="{'text-errorStatus': data['CoolingSP']._source.Status == 'Error', 'text-info': data['CoolingSP']._source.Status == 'Active'}">
								{{data['CoolingSP']._source.Value}} 
							</span> &deg;
						</strong>
						<popup point-popup-dialog="pointPopupDialog" config="config"></popup>
					</td>

					<td ng-click="pointPopupDialog(data['DefaultUnoccCoolSP'])" >
						<strong>
						<span ng-class="{'text-errorStatus': data['CoolingUnoccupiedSetpoint']._source.Status == 'Error', 'text-info': data['CoolingUnoccupiedSetpoint']._source.Status == 'Active'}">
							{{data['CoolingUnoccupiedSetpoint']._source.Value}}
						</span>
						<span ng-class="{'text-errorStatus': data['Cool Setback']._source.Status == 'Error', 'text-info': data['Cool Setback']._source.Status == 'Active'}">
							{{data['Cool Setback']._source.Value}}
						</span>
						<span ng-class="{'text-errorStatus': data['Cool Setback']._source.Status == 'Error', 'text-info': data['Cool Setback']._source.Status == 'Active'}">
							{{data['UnoccCoolSP']._source.Value}} &deg;
						</span>
						</strong>
						<popup point-popup-dialog="pointPopupDialog" config="config"></popup>
					</td>
					<td>
						<strong>
							<span ng-class="{'text-errorStatus': data['HeatingOccupiedSetpoint']._source.Status == 'Error', 'text-info': data['HeatingOccupiedSetpoint']._source.Status == 'Active'}">
								{{data['HeatingOccupiedSetpoint']._source.Value}}
							</span>
							<span ng-class="{'text-errorStatus': data['Heat Setpoint']._source.Status == 'Error', 'text-info': data['Heat Setpoint']._source.Status == 'Active'}">
							{{data['Heat Setpoint']._source.Value}}
							</span>
							<span ng-class="{'text-errorStatus': data['HeatingSP']._source.Status == 'Error', 'text-info': data['HeatingSP']._source.Status == 'Active'}">
							{{data['HeatingSP']._source.Value}}&deg;
							</span>
						</strong>
						<popup point-popup-dialog="pointPopupDialog" config="config"></popup>
					</td>
					<td ng-click="pointPopupDialog(data['HeatingUnoccupiedSetpoint'])" ><strong>
						<span ng-class="{'text-errorStatus': data['HeatingUnoccupiedSetpoint']._source.Status == 'Error', 'text-info': data['HeatingUnoccupiedSetpoint']._source.Status == 'Active'}"  ng-if="data['HeatingUnoccupiedSetpoint']._source.Value && !data['Heat Setback']._source.Value">
							{{data['HeatingUnoccupiedSetpoint']._source.Value}}
						</span>
						<span ng-class="{'text-errorStatus': data['Heat Setback']._source.Status == 'Error', 'text-info': data['Heat Setback']._source.Status == 'Active'}">
							{{data['Heat Setback']._source.Value}}
						</span>
						<span ng-class="{'text-errorStatus': data['UnoccHeatSP']._source.Status == 'Error', 'text-info': data['UnoccHeatSP']._source.Status == 'Active'}">
							{{data['UnoccHeatSP']._source.Value}}
						</span> &deg;

					</strong>
					<popup point-popup-dialog="pointPopupDialog" config="config"></popup>
					</td>
				</tr>
  			</table>
		</div> 
	</div>

	<div ng-if="!dataLoaded">
		<h3>
			<i class="fa fa-spinner fa-spin text-info"></i>
		</h3>
		<strong>Data Loading ...</strong>
	</div>
	<div ng-if="dataLoadedError">
		<h3>
			<i class="fa fa-star-o text-warning"></i> 
		</h3>
		<!--<strong>Error Loading Data</strong>-->
	</div>

</div>
