<div  ng-class="{'panel': config.showPanel ,'panel-default': config.showPanel, 'widgetPrimary': config.bgColor == 'blue' &&  config.showPanel, 'widgetSuccess': config.bgColor == 'green' &&  config.showPanel, 'widgetInfo': config.bgColor == 'lightBlue' &&  config.showPanel, 'widgetWarning': config.bgColor == 'yellow' &&  config.showPanel, 'widgetDanger': config.bgColor == 'red' &&  config.showPanel,'widgetGray': config.bgColor == 'gray' &&  config.showPanel}" ng-style="{'margin-top': config.marginTop, 'margin-bottom' : config.marginBottom, 'margin-right' : config.marginRight, 'margin-left' : config.marginLeft}" ng-click="pointPopupDialog()" >
	<div ng-if="dataLoaded && !dataLoadedError" ng-class="{'panel-body': config.showPanel}">
		<div class="row">
			<div class="col-md-4" ng-repeat="(id,data) in returnedData track by id">
				<div  ng-class="{'panel': config.showRTUPanel ,'panel-default': config.showRTUPanel, 'widgetPrimary': config.RTUbgColor == 'blue' &&  config.showRTUPanel, 'widgetSuccess': config.RTUbgColor == 'green' &&  config.showRTUPanel, 'widgetInfo': config.RTUbgColor == 'lightBlue' &&  config.showRTUPanel, 'widgetWarning': config.RTUbgColor == 'yellow' &&  config.showRTUPanel, 'widgetDanger': config.RTUbgColor == 'red' &&  config.showRTUPanel,'widgetGray': config.RTUbgColor == 'gray' &&  config.showRTUPanel}"  ng-click="pointPopupDialog()" >
					<rtu-display 
						rtu-name="data.data.Name"
						rtu-id="data.id"
						points="config.showPoints" />
				</div>
			</div>
		</div> 
	</div>

	<div ng-if="!dataLoaded">
		<h3>
			<i class="fa fa-spinner fa-spin text-info"></i>
		</h3>
		<strong>Data Loading ...</strong>		
	</div>
	<div ng-if="dataLoadedError">
		<h3>
			<i class="fa fa-exclamation-triangle text-danger"></i> 
		</h3>
		<strong>Error Loading Data</strong>
	</div>

</div>
