<div class="modal-header bg-primary">

    <div class="row">
        <div class="col-md-9">
            <p class="slick">{{alarmName}} history.</p>
        </div>
        <div class="col-md-3">
                <button type="button" class="close" ng-click="closeDialog()" aria-hidden="true">&times;</button>
                <i class="fa fa-cloud-upload fa-5x "></i>
        </div>
    </div>
</div>
</div>
<div class="modal-body alarm-history">
    <div class="row">
        <table class="table table-hover table-striped" ng-show="history.length > 0">
            <tr>
                <th>
                    Action
                </th>
                <th>
                    Description
                </th>
                <th>
                    Occurred
                </th>
            </tr>
            <tr ng-repeat="item in history">
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>{{item.occurred | date:'medium'}}</td>

            </tr>
        </table>
        <div ng-show="history.length === 0">
            <span>No history found.</span>
        </div>
    </div>

</div>

<div class="modal-footer">
    <span class="pull-left"><img src="/assets/omniboard.png"></span>
    <button type="button" class="btn btn-primary" ng-click="closeDialog()"><i class="fa fa-times-circle-o"></i> Close
    </button>
</div>