<div class="navBar pull-left">
    <span class="page active" ng-if="omniNavCurrent"><i class="fa" ng-class="[omniNavCurrent.state.data.iconClass]"></i><a href="{{omniNavCurrent.url}}">{{omniNavCurrent.title}}</a></span>
    <span class="dropdown" ng-show="omniNavHistory && omniNavHistory.length > 0">
      <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <i class="fa fa-caret-down fa-fw"></i>
      </a>
      <ul class="dropdown-menu">
          <li ng-repeat="entry in omniNavHistory">
              <a href="{{entry.url}}"><i ng-if="entry.state.data.iconClass" class="fa" ng-class="[entry.state.data.iconClass]"></i> {{entry.title}}</a>
          </li>
      </ul>
    </span>
</div>