<div class="modal-header bg-primary">
    <button type="button" class="close" ng-click="cancelDialog()" aria-hidden="true">&times;</button>
    <button class="btn btn-primary pull-right" ng-show="copyEvent" ng-click="pasteEvent();" title="Paste Event">
        <i class="fa fa-paste"></i>
    </button> 
    <h4 class="modal-title"><i class="fa fa-tachometer"></i> Add to Load</h4>
</div>
<div class="modal-body">
    <form role="form" name="frm">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <h3 class="text-primary">{{sourceValue.name}}</h3>
                </div>
            </div>
        </div>
        <div class="row" ng-hide="sourceValue.editorOptions.type == 'binary' || sourceValue.editorOptions.type == 'multivalue'" >
            <div class="col-md-12">
                <div class="form-group">
                    <label for="name">Set Value</label><a href="" title="The value set when schedule begins"> <i class="fa fa-info-circle"></i></a>
                    <input  name="name" ng-model="setValue"  class="form-control" />
                </div>
            </div>
            
        </div>
        <div class="row" ng-show="sourceValue.editorOptions.type == 'binary'" >
            <div class="col-md-12">
                <div class="form-group">
                    <label for="name">Set Value</label><a href="" title="The value set when schedule begins"> <i class="fa fa-info-circle"></i></a>
                    <select class="form-control" ng-model="setValue">
                        <option value="{{id}}" ng-repeat="(id, data) in sourceValue.editorOptions.binarylist">{{data}}</option>
                    </select>
                </div>
            </div>
            
        </div>
        <div class="row" ng-show="sourceValue.editorOptions.type == 'multivalue'" >
            <div class="col-md-12">
                <div class="form-group">
                    <label for="name">Set Value</label><a href="" title="The value set when schedule begins"> <i class="fa fa-info-circle"></i></a>
                    <select class="form-control" ng-model="setValue">
                        <option value="{{key}}" ng-repeat="(key, options) in sourceValue.editorOptions.list">{{options}}</option>
                    </select>
                </div>
            </div>
           
        </div>
    </form>
</div>
<div class="modal-footer">
    <span class="pull-left"><img src="/assets/omniboard.png"></span>
    <button type="button" class="btn btn-primary" ng-show="frm.$dirty" ng-click="save(setValue)"><i class="fa fa-save"></i> Save</button>
    <button type="button" class="btn btn-danger" ng-click="cancelDialog()"><i class="fa fa-times-circle-o"></i> Close</button>
</div>