<div class="modal-header bg-primary">
    <button type="button" class="close" ng-click="closeDialog()" aria-hidden="true">&times;</button>
    <h4 class="modal-title"><i class="fa fa-tachometer"></i> Create Schedule</h4>
</div>
<div class="modal-body">
    <form role="form" name="frm">
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" required class="form-control" name="Name" ng-model="scheduleEvent.Name" />
            <span ng-show="frm.Name.$error.required" class="label label-danger">*Required</span>
						<span ng-show="nameInUse" class="label label-danger">This name is already in use.</span>
        </div>
        <div class="form-group">
            <label for="Description">Description</label>
            <textarea ng-model="scheduleEvent.description" class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="StartDay">Week View: Start Day of the Week</label>
            <select name="startDay" required class="form-control" ng-model="scheduleEvent.StartDay">
                <option value="0" selected="selected">Sunday</option>
                <option value="1">Monday</option>
                <option value="2">Tuesday</option>
                <option value="3">Wednesday</option>
                <option value="4">Thursday</option>
                <option value="5">Friday</option>
                <option value="6">Saturday</option>
            </select>
            <span ng-show="frm.startDay.$error.required" class="label label-danger">*Required</span>
        </div>
        <!--<div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="StartDay">Schedule Starting</label>
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="scheduleEvent.schedStart" is-open="opened1" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" close-text="Close" ng-click="openTime1($event)" />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openTime($event)"><i class="fa fa-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="col-md-4">
                    <label for="StartDay">Schedule Ending</label>
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="scheduleEvent.schedEnd" is-open="opened2" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" close-text="Close" ng-click="openTime2($event)" />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openTime($event)"><i class="fa fa-calendar"></i></button>
                        </span>
                    </p>            
                </div>
                <div class="col-md-4">
                    <label for="addschedbutton">&nbsp;</label>
                    <button type="button" style="margin-top:25px;" class="btn btn-primary" 
                            ng-click="scheduleSchedule()"> <i class="fa fa-plus-circle"></i>
                        Add Schedule
                    </button>
                </div>
            </div>
        </div>-->
        <div class="form-group">
            <div ng-repeat="(id,data) in scheduleEvent.Schedule">
                {{dateFromDay(actualYear,data.start) | date : "MMM-dd"}}
                 to 
                {{dateFromDay(actualYear,data.end) | date : "MMM-dd"}}
                <button class="btn btn-sm btn-warning" ng-click="removeSchedule(id)">
                    <i class="fa fa-trash-o"></i>
                </button>
            </div>
        </div>
        <!--<div class="form-group">
            <label for="mode">Mode</label>
            <select name="mode" class="form-control" required ng-model="scheduleEvent.mode">
                <option value="online">Active</option>
                <option value="offline">Inactive</option>
            </select>
            <span ng-show="frm.mode.$error.required" class="label label-danger">*Required</span>
        </div>-->
        
        <div class="form-group" ng-if="isEdit">
            <label for="mode">Reason</label>
            <textarea class="form-control" name="reason" ng-model="scheduleEvent.reason" required></textarea>
            <span ng-show="frm.reason.$error.required" class="label label-danger">*Required</span>
        </div>
    </form>
</div>
<div class="modal-footer">
    <span class="pull-left"><img src="/assets/omniboard.png"></span>
    <button type="button" class="btn" ng-class="{'btn-primary':!saved, 'btn-success':saved}" ng-click="save()" ng-disabled="frm.$invalid">
        <i class="fa fa-save"></i> Save
    </button>
    <button type="button" class="btn btn-danger" ng-click="closeDialog()"><i class="fa fa-times-circle-o"></i> Close</button>

</div>