
<div class="modal-header bg-primary" >
  <button type="button" class="close" ng-click="closeEditDialog()" aria-hidden="true">&times;</button>
  <h4 class="modal-title"><i class="fa fa-tachometer"></i> Edit {{schedule.Name}}</h4>
</div>
<div class="modal-body">
  <div>
	<div class="row">
			<div class="col-md-12" id="alerts">
				<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
			</div>
			<br>
	</div>
    <div> 
      <form role="form" name="frm">
        <div class="form-group form-group-sm">
          <label for="Name">Name</label>
          <input type="text" ng-change="Change()" required class="form-control" name="Name" ng-model="time.Name" />
          <span ng-show="frm.Name.$error.required" class="label label-danger">*Required</span>
        </div>
      
		<div class="form-group form-group-sm">
            <label for="Description">Description</label>
            <textarea ng-model="time.description" ng-change="Change()" class="form-control" rows="3"></textarea>
        </div>

		<div class="form-group form-group-sm">
            <label for="Type">Type</label>
			<select class="form-control" ng-model="time.type" ng-change="Change()">
				<option value="control">Controls Schedule</option>
				<option value="cost">Cost Schedule</option>
			</select>
        </div>
      </form>
     
      <div class="row">
        <div class="col-md-8">
         
        </div>
        <div class="col-md-2">

          <!--<label class="switch-light well" style="width:150px; margin-left:25px; margin-right:0px; margin-bottom:0px;">
            <input style="" ng-model="time.mode" ng-change="Change()" type="checkbox">
            <span class="">
              <span >Inactive</span>
              <span >Active</span>
            </span>

            <a class="btn btn-primary" ></a>
          </label>-->
        </div>
      </div>
    </div>
    <!--<div ng-show="time.mode== false">
      <div class="col-md-6">
          <label for="StartDay">Update Schedule at</label>
          <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="time.date" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" close-text="Close" ng-click="openTime($event)" />
              <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openTime($event)"><i class="fa fa-calendar"></i></button>
              </span>
          </p>
      </div>
      <div class="col-md-6">
          <label for="dashboardTitle">Time</label>
          <center><timepicker ng-model="time.Time" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker></center>
      </div>
    </div>-->
    <table class="table"  style="margin-bottom:0px">
      <tr>
        <td><label class="text-muted">Active Date: <span class="slick" ng-repeat="(id, dates) in schedData.Schedule"  style="margin-bottom:2px;">{{dateFromDay(initialYear, dates.start) | date : "MMM-dd"}} - {{dateFromDay(initialYear, dates.end) | date : "MMM-dd"}}</span></label></td>

        <td> </td>

        <td></td>
        <td></td>

      </tr>
    </table>
    <table class="table" style="margin-bottom:0px;">
        
          <th><span>Day</th>
          <th></th>
          <th style="padding-left:45px">Start</th>
          <th style="padding-left:70px">End</th>
          <th style="padding-left 0px"><input type="checkbox" ng-click="applyChecked(!master)" title="Synchronize corresponding timeblocks of all days" ng-model="master"></th>
          <th style="padding-left:30px">Delete</th>
        
      </table>
    <table class="table">
      <tr ng-repeat="(id, days) in schedule.Days">
        <td>{{days.Name}}</br><button class="btn btn-xs btn-warning" ng-click="addTimeblock(id)"><i class="fa fa-plus-circle"></i> Timeblock</button>
        </td>
        <td>
          <table>
            <tr ng-repeat="(key,timeblocks) in days.timeblocks" >
              <td> 
                <form class="form-inline" role="form" name="frm" style="margin-bottom:5px;">
                  <div class="form-group form-group-sm">
                    <div class="input-group">
                      <label class="sr-only"  for="exampleInputEmail2">Email address</label>
                      <select class="form-control" ng-change="updateTime(key, 'start', 'hr', timeblocks.start.hr, id)" ng-model="timeblocks.start.hr" >
                        <option value="00">00</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        
                      </select>
                    </div> 
                  </div>   :                    
                  <div class="form-group form-group-sm">
                    <div class="input-group">
                      <label class="sr-only" for="exampleInputEmail2">Email address</label>

                      <select class="form-control" ng-change="updateTime(key, 'start', 'mn', timeblocks.start.mn, id)" ng-model="timeblocks.start.mn" >
                        <option value="00">00</option>
                        <option value="05">05</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="25">25</option>
                        <option value="30">30</option>
                        <option value="35">35</option>
                        <option value="40">40</option>
                        <option value="45">45</option>
                        <option value="50">50</option>
                        <option value="55">55</option>
                        <option value="59">59</option>
                        <option value="60">60</option>
                      </select>
                    </div>
                  </div>
                </form>
              </td>
              <td>
                <form class="form-inline" role="form" name="frm" style="margin-bottom:5px; margin-left:20px;" >

                  <div class="form-group form-group-sm">
                    <div class="input-group">
                      <label class="sr-only"  for="exampleInputEmail2">Email address</label>
                      <select class="form-control" ng-change="updateTime(key, 'end', 'hr', timeblocks.end.hr, id)" ng-model="timeblocks.end.hr" >
                        <option value="00">00</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        
                      </select>
                    </div> 
                  </div>   :                    
                  <div class="form-group form-group-sm">
                    <div class="input-group">
                      <label class="sr-only" for="exampleInputEmail2">Email address</label>

                      <select class="form-control" ng-change="updateTime(key, 'end', 'mn', timeblocks.end.mn, id)" ng-model="timeblocks.end.mn" >
                        <option value="00">00</option>
                        <option value="05">05</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="25">25</option>
                        <option value="30">30</option>
                        <option value="35">35</option>
                        <option value="40">40</option>
                        <option value="45">45</option>
                        <option value="50">50</option>
                        <option value="55">55</option>
                        <option value="59">59</option>
                        <option value="60">60</option>
                      </select>
                    </div>
                  </div>
                </form>
              </td>
              <td style="padding-left:25px">
                <input id="checkSlave" type="checkbox" ng-checked="master" ng-click="flagTime(id,key)" title="Synchronize this timeblock">
              </td>
              <td style="padding-left:60px">
                <i  class="fa fa-times text-danger" ng-click="removeTimeblock(id, key)"></i>
              </td>
            </tr>
          </table>
        </td>
        
      </tr>

    </table>
  </div>
</div>


</div>
<div class="modal-footer">

  <span class="pull-left"><img src="/assets/omniboard.png"></span>
  <button type="button" class="btn" ng-class="{'btn-primary':!saved, 'btn-success':saved}" ng-click="editScheduleWarning(time, changesPending)" ng-if="formChange">
    <i class="fa fa-save"></i> Save
  </button>
  <button type="button" class="btn btn-danger" ng-click="closeEditDialog()"><i class="fa fa-times-circle-o"></i> Close</button>

</div>