<div>
	
	<div ng-show="selectedView == 'year'" style=" margin-left:10px" >
		
			<div class="row">
				<div class="darkGray" style="width:150px" >
					<p style="margin:0px; padding-left:4px;" class="slick"><strong>{{data.Abbr}} {{year}}</strong></p>
				</div>
			</div>
			<div class="row" style="" ng-repeat="(id,month) in data.calendar track by id">
				<div class="pull-left" style="width:20px; padding-right:3px; border-bottom:1px solid #999;" ng-repeat="(key,item) in month track by key" ng-class="{'schedule-dtException': data.exception[item].type == 'date-range', 'schedule-otException':data.exception[item].type == 'one-time' }" ng-right-click="openPanel($event, monthID, item, data.exception[item], year, key)">
					<span ng-if="item != 0" class="text-muted slick pull-right" >{{item}}</span><br />
				</div>
			</div>
	
	</div>
	<div ng-show="selectedView == 'month'">
		<div class="row">
			<div class="col-sm-12 darkGray">
				<div class="pull-left col-md-4" style="margin-top:10px;"><button class="btn btn-md btn-default" ng-click="decrementMonth()"><i class="fa fa-arrow-circle-left"></i></button></div>
				<div class="col-md-4"><h2 class="text-center slick" style="margin-top:10px;">{{data.Abbr}}</h2></div>
				<div class="col-md-4" style="margin-top:10px;"><button class="pull-right btn btn-md btn-default" ng-click="incrementMonth()"><i class="fa fa-arrow-circle-right"></i></button></div>
				
			</div>
		</div>
		<div class="row" style="" ng-repeat="(id,month) in data.calendar track by id">
			<div class="" style="display: inline-block; width:14.2%; height:70px;padding:10px; border:1px solid #999;" ng-repeat="(key,item) in month track by key" ng-class="{'schedule-dtException': data.exception[item].type == 'date-range', 'schedule-otException':data.exception[item].type == 'one-time' }" ng-right-click="openPanel($event, monthID, item, data.exception[item], year, key)">
				<span ng-if="item != 0" style="font-size:40px" class="text-muted slick pull-right" >{{item}}</span><br />

			</div>
		</div>
	</div>
</div>