<div class="modal-header" ng-class="{'schedule-dtException':exceptionType.type == 'date-range','schedule-otException': exceptionType.type == 'one-time', 'bg-primary' : !exceptionType.type}">
	<button type="button" class="close" ng-click="closeDialog()" aria-hidden="true">&times;</button>
	<h4 class="modal-title"><i class="fa fa-exclamation-triangle"></i> Release Schedule</h4>
</div>
<div class="modal-body">
	<p><strong>You are about to release this schedule from its group control schedule.</strong></p> 
	<p class="slick">Are you sure you want to continue?</p>
</div>
<div class="modal-footer">
	<span class="pull-left"><img src="/assets/omniboard.png"></span>
	<button type="button" class="btn btn-danger" ng-click="release()">
		<i class="fa fa-save"></i> Yes
	</button>
	<button type="button" class="btn btn-primary" ng-click="cancel()"><i class="fa fa-times-circle-o"></i> No</button>
</div>