<div>

	<div ng-if="selectedView == 'month'" class="row" style="margin-top:10px">
		<div class="col-sm-12">
			<calendar dec="decrementMonth()" inc="incrementMonth()" data="months[month]" selected-view="selectedView" schedule="schedule" month="month" year="currentYear" pending-save=
			"pendingSave" changes-pending="changesPending"></calendar>
		</div>
	</div>
	<div ng-if="selectedView == 'year'">
		<div class="row" style="margin-top:10px">
			<div class="col-sm-4">
				<calendar data="months[0]" selected-view="selectedView" schedule="schedule" month="0" year="currentYear" pending-save=
			"pendingSave" changes-pending="changesPending"></calendar>
			</div>
			<div class="col-sm-4">
				<calendar data="months[1]" selected-view="selectedView" schedule="schedule" month="1" year="currentYear" pending-save=
			"pendingSave" changes-pending="changesPending"></calendar>
			</div>
			<div class="col-sm-4">
				<calendar data="months[2]" selected-view="selectedView" schedule="schedule" month="2" year="currentYear" pending-save=
			"pendingSave" changes-pending="changesPending"></calendar>
			</div>
		</div>
		<div class="row" style="margin-top:10px">
			<div class="col-sm-4">
				<calendar data="months[3]" selected-view="selectedView" schedule="schedule" month="3" year="currentYear" pending-save=
			"pendingSave" changes-pending="changesPending"></calendar>
			</div>
			<div class="col-sm-4">
				<calendar data="months[4]" selected-view="selectedView" schedule="schedule" month="4" year="currentYear" pending-save=
			"pendingSave" changes-pending="changesPending"></calendar>
			</div>
			<div class="col-sm-4">
				<calendar data="months[5]" selected-view="selectedView" schedule="schedule" month="5" year="currentYear" pending-save=
			"pendingSave" changes-pending="changesPending"></calendar>
			</div>
		</div>
		<div class="row" style="margin-top:10px">
			<div class="col-sm-4">
				<calendar data="months[6]" selected-view="selectedView" schedule="schedule" month="6" year="currentYear" pending-save=
			"pendingSave" changes-pending="changesPending"></calendar>
			</div>
			<div class="col-sm-4">
				<calendar data="months[7]" selected-view="selectedView" schedule="schedule" month="7" year="currentYear" pending-save=
			"pendingSave" changes-pending="changesPending"></calendar>
			</div>
			<div class="col-sm-4">
				<calendar data="months[8]" selected-view="selectedView" schedule="schedule" month="8" year="currentYear" pending-save=
			"pendingSave" changes-pending="changesPending"></calendar>
			</div>
		</div>
		<div class="row" style="margin-top:10px">
			<div class="col-sm-4">
				<calendar data="months[9]" selected-view="selectedView" schedule="schedule" month="9" year="currentYear" pending-save=
			"pendingSave" changes-pending="changesPending"></calendar>
			</div>
			<div class="col-sm-4">
				<calendar data="months[10]" selected-view="selectedView" schedule="schedule" month="10" year="currentYear" pending-save=
			"pendingSave" changes-pending="changesPending"></calendar>
			</div>
			<div class="col-sm-4">
				<calendar data="months[11]" selected-view="selectedView" schedule="schedule" month="11" year="currentYear" pending-save=
			"pendingSave" changes-pending="changesPending"></calendar>
			</div>
		</div>
	</div>
</div>