<div class="row ">
	<div class="col-md-9">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h1 class=" panel-title lead"><i class="fa fa-info-circle"></i> Fill out the form below to create a new entry.</h1>
			</div>
			
			<div  class="panel-body">
				<h4 ng-show="errorMessage" class="alert alert-danger">
					<i class="fa fa-exclamation-circle"></i>
					{{errorMessage}}
					<i class="fa fa-times-circle pull-right" ng-click="errorMessage=''"></i>
				</h4>
				<form class="form-horizontal" name="itemForm">
					<div ng-model="input" fb-form="default" is-editable="true" fb-default="currentItem"></div>
				</form>
			</div>

			<div class="panel-footer text-right">
				<span class="pull-left"><img src="/assets/omniboard.png"></span>
				<a href="#/admin/models" class="btn btn-default"><i class="fa fa-times-circle"></i> Cancel</a>
				<a class="btn btn-success" ng-click="addDataModelCheck(currentItem,saveFiles)"><i class="fa fa-arrow-circle-right"></i> Submit</a>
			</div>
		</div>
	</div>
</div>