<div class="modal-header bg-primary">
    <button type="button" class="close" ng-click="closeDialog()" aria-hidden="true">&times;</button>
    <h4 class="modal-title"><i class="fa fa-list"></i> Instructions</h4>
</div>
<div class="modal-body">
    <div ng-class="panel-body" class="">
        <strong>New Gateway Created</strong>
        <div ng-show="modelItem.GatewayType === gatewayTypes.mediator">
            <div>
                To start processing data to omniboard run the following command on your mediator: driver.py
            </div>
            <div>And setup the agrs file with the following GatewayKey: {{modelItem.$id}}</div>
        </div>
        <div ng-show="modelItem.GatewayType === gatewayTypes.egauge">
            <div>
                Your data should start processing in a few minutes.
            </div>
        </div>


    </div>
</div>
<div class="modal-footer ng-scope">
    <button type="button" class="btn btn-primary" ng-click="closeDialog()"><i class="fa fa-times-circle-o"></i> Close</button>
</div>
