<p ng-show='notify' class="text-muted pull-left slick" style="font-size:12px">Point Commanded: <strong class="text-success">{{command.value}}</strong></p>
<div class="btn-group pull-right" role="group" >
	<button class="btn btn-xs btn-primary" ng-click="backToCommand()">One-Time Change</i></button>
	<button class="btn  btn-xs btn-warning "  ng-click="openOverride()">Timed Override</button>
</div>
	<div ng-if="timedOverride" style="padding-top: 5px;" class="form-group col-md-12" ng-class="{'has-warning':loading==true}">
		<p style="margin:0px" class="text-warning"><strong>Timed Override Controls</strong></p>
		<hr style="margin:0px"/>
		<form class="form-group">

					
			<div class="form-group col-md-4">
				<label  for="resetAfterValue">Number</label></br>
				<select id="resetAfterValue" placeholder="Value" ng-model="command.resetAfterValue" class="form-control input-sm" name="resetAfterValue" ng-options="n for n in IntervalRanges">
				</select>
			</div>
			<div class="form-group col-md-4">
				<label  for="resetAfterUnits">Units</label></br>
					<select  id="resetAfterUnits" placeholder="Units" ng-model="command.resetAfterUnits" class="form-control input-sm" name="resetAfterUnits" ng-change="checkValues(command.resetAfterUnits)">
						<option value="1">mins</option>
						<option value="60">hrs</option>
						<option value="1440">days</option>
					</select>		
			</div>	
			<div class="form-group col-md-4">
				<label  for="inputOverride">Return Value</label>
				<select class="form-control input-sm" id="inputOverride" style="margin-bottom:10px" ng-class="{'has-warning':loading==true}" ng-model="command.resetValue" ng-change="checkValues(command.resetAfterUnits)">
					<option ng-repeat="(key,c) in editorOptions.list">{{c}}</option>
				</select>
			</div>				
			
		</form>
			<p>
				<span ng-if="notify || expires" style="font-size: 7pt" class="text-muted text-warning">Depending on network latency, the command may be off by up to two minutes. </span>					
			</p>
			
	</div>	
	<div class="" style="margin-bottom:15px"> 
		<div ng-class="{'col-md-6': timedOverride, 'col-md-12':!timedOverride, 'xMargin':!timedOverride}"> 	
			<div class="" list="options" >
				<select class="form-control" style="margin-bottom:10px" ng-class="{'has-warning':loading==true}" ng-model="command.value">
					<option ng-repeat="(key,c) in editorOptions.list">{{c}}</option>
				</select>
				<div class="btn-group-vertical btn-block">
				<button type="button"  ng-disabled="pointCommandQueueEntry.expires || expires" class="btn btn-primary btn-block " ng-click="newCommand(command)"><i class="fa " ng-class="{'fa-spinner':loading == true, 'fa-arrow-circle-up': !loading, 'fa-spin': loading == true }"></i> Command</button>

		        
		      	</div>
			</div>
		</div>
		
		<div ng-if="timedOverride" class="col-md-6">
			<button type="button" ng-click="clearOverride()" ng-disabled="!(pointCommandQueueEntry.expires || expires)"  class="btn btn-block  btn-warning"><i class="fa " ng-class="{'fa-spinner':clearing == true, 'fa-exchange': !clearing, 'fa-spin': clearing == true }"></i> Clear Override</button>
		</div>
	</div>			

