<p ng-show='notify' class="text-muted pull-left slick" style="font-size:12px">Point Commanded: <strong class="text-success">{{command.value}}</strong></p>
<div class="btn-group pull-right" role="group" >
	<button class="btn btn-xs btn-primary" ng-click="backToCommand()">One-Time Change</i></button>
	<button class="btn  btn-xs btn-warning "  ng-click="openOverride()">Timed Override</button>
</div>
	<div ng-if="timedOverride" style="padding-top: 5px;" class="form-group col-md-12" ng-class="{'has-warning':loading==true}">
		<p style="margin:0px" class="text-warning"><strong>Timed Override Controls</strong></p>
		<hr style="margin:0px"/>
		<p style="font-size: 10pt; margin-top:8px" class="text-muted">Toggle again(after override)</p>
		<form class="form-group">

					
			<div class="form-group col-md-4">
				<label  for="resetAfterValue">Number</label></br>
				<select id="resetAfterValue" placeholder="Value" ng-model="command.resetAfterValue" class="form-control input-sm" name="resetAfterValue" ng-options="n for n in IntervalRanges">
				</select>
				</div>
				<div class="form-group col-md-4">
					<label  for="resetAfterUnits">Units</label></br>
						<select  id="resetAfterUnits" placeholder="Units" ng-model="command.resetAfterUnits" class="form-control input-sm" name="resetAfterUnits" ng-change="checkValues(command.resetAfterUnits)">
							<option value="1">mins</option>
							<option value="60">hrs</option>
							<option value="1440">days</option>
						</select>		
				</div>	
				<div class="form-group col-md-4">
				
			</div>				
				
		</form>
		<p>
			<span ng-if="notify" style="font-size: 7pt" class="text-muted text-warning">Depending on network latency, the command may be off by up to two minutes. </span>					
		</p>
	</div>
	<div class="" > 
		<div ng-class="{'col-md-6': timedOverride, 'col-md-12':!timedOverride, 'xMargin':!timedOverride}"> 	
			<div class="btn-group-vertical btn-block" >
			    <button type="button"  ng-disabled="pointCommandQueueEntry.expires || expires" class="btn btn-primary btn-block"  ng-click="newCommand(command, key)"><i class="fa fa-exchange"></i> Toggle
				</button>
			   
  			</div>
		</div>
		
		<div ng-if="timedOverride" class="col-md-6">
			<button type="button"  ng-disabled="!(pointCommandQueueEntry.expires || expires)" ng-click="clearOverride()"  class="btn btn-block  btn-warning"><i class="fa " ng-class="{'fa-spinner':clearing == true, 'fa-exchange': !clearing, 'fa-spin': clearing == true }"></i> Clear Override</button>
		</div>
	</div>								
	

  

    