<div class="modal-header bg-primary">
	<button type="button" class="close" ng-click="closeDialog()" aria-hidden="true">&times;</button>
	<h4 class="modal-title"> Add Map</h4>
</div>

<div class="modal-body">
	<label for="ruleItem">Map</label><br />
	<input type="text" class="form-control" ng-model="mapKey" placeholder="Mapping Name" />	: 
	<input type="text" class="form-control" ng-model="mapExp" placeholder="Mapping Expression" />	 
</div>

<div class="modal-footer">
	<button class="btn btn-primary btn-sm" title="Save" ng-click="confirm(mapKey,mapExp)">
		<i class="fa fa-floppy-o"></i> Save
	</button>
	<button class="btn btn-default btn-sm" title="Cancel" ng-click="closeDialog()">
		<i class="fa fa-times-circle"></i> Cancel
	</button>
</div>