<div class="dashboardNotifier bg-primary">
	<omni-nav-history></omni-nav-history>
	<local-time ng-cloak class="pull-right hidden-xs"></local-time>
</div>

<div class="dashboardOptions darkGray" style="height:36px;">

</div>

<div class="">
	<div class="col-md-4" style="margin-top:20px;">
		<div id="map" style=" height:454px;" class="panel panel-primary">
			<div class="panel-body" data-spy="scroll" data-target="#myScrollspy"  id="jsonBody">
				<label for="ruleItem"><i class="fa fa-sign-in fa-rotate-90"></i> Data From Feed</label>
				
				<div json-viewer="pData" style="overflow:scroll; height:400px;" id="myScrollspy"></div>
			</div>
		</div>
	</div>
	<div class="col-md-8" style="margin-top:20px;">
		<div class="panel panel-primary">
			<div class="form-group panel-heading">
				<h2 class="panel-title">Rule Definition
				<span class="pull-right">
					<a class=" pull-right btn btn-info btn-xs" 
						title="{{showExpressions ? 'Hide' : 'Show' }} Expressions" 
						ng-click="showExpressions=!showExpressions">
						{{showExpressions ? 'Hide' : 'Show' }} Expressions
					</a></h2>
				</span>	
			</div>
						
			<div class="panel-body">
				<form class="form-inline" role="form">

					<div class="form-group col-md-12">
						<a ng-mouseover="showMapInfo()" ng-mouseleave="hideMapInfo()" class="text-info"><i class="fa fa-info-circle"></i></a> <label for="ruleItem">Map</label>
						<a class="darkGray btn btn-xs"
								ng-click="addMap()">
							<i class="fa fa-plus-circle"></i> Map
						</a>
						<br />
						<div ng-show="mapInfo" class="panel panel-info col-md-6">
							<div class="panel-body">
								<h4><strong>Map</strong></h4>
						<p class="slick">Enter the location of each data item. This will map it to a unique ID in Omniboard.</p>
							</div>
						</div>
						
					</div>
					<div class="form-group col-md-12">
						<span ng-repeat="(i, r) in importObject.map">
							<input type="text" ng-disabled="true" class="form-control" value="{{i}}" />
							: 
							<input type="text" ng-disabled="true" class="form-control" value="{{r}}" />
						</span>
					</div>

					<div class="form-group col-md-12" style="margin-top:20px;">
						<a ng-mouseover="showRelationsInfo()" ng-mouseleave="hideRelationsInfo()" class="text-info"><i class="fa fa-info-circle"></i></a> <label for="ruleItem">Relations</label>
						<a class="darkGray btn btn-xs" ng-click="addRelationType()">
							<i class="fa fa-plus-circle"></i> Relation Type
						</a>

					</div>
					<div class="form-group col-md-12">
						<div ng-show="relationsInfo " class="panel panel-info col-md-6">
							<div class="panel-body">
								<h4><strong>Relations</strong></h4>
								<p class="slick">Click on the "+ Relation" button to link imported data to an Omniboard data model.
							</div>
						</div>
					</div>
					<div class="form-group col-md-12" ng-repeat="(id,data) in importObject.relations">
						<input type="text" class="form-control" value="{{id}}" />
						<div class="btn-group">
							<a class="darkGray btn btn-xs" ng-click="removeRelation(id)">
								<i class="fa fa-minus-circle"></i> Relations
							</a>
							<a class="darkGray btn btn-xs" ng-click="addRelations(id)">
								<i class="fa fa-plus-circle"></i> Relations
							</a>
						</div>
						<br />

						<span ng-repeat="(item, val) in data">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input type="text" class="form-control" value="{{item}}" />
							: 
							<input type="text" class="form-control" value="{{val}}" />
							<br />
						</span>
						
					</div>

					<div class="form-group col-md-12" style="margin-top:20px;">
						<a ng-mouseover="showRulesInfo()" ng-mouseleave="hideRulesInfo()" class="text-info"><i class="fa fa-info-circle"></i></a> <label>Rule Item</label><br />
						<div ng-show="rulesInfo" class="panel panel-info col-md-6">
							<div class="panel-body">
								<h4><strong>Rule Item</strong></h4>
								<p class="slick">Add a rule for the item you created that constitutes the type of data associated with that item.
							</div>
						</div>
					</div>
					<div class="form-group col-md-12" ng-repeat="(id,data) in importObject.rules">
						<input type="text" class="form-control" value="{{id}}" />
						<a class="darkGray btn btn-xs"
								ng-click="addType(id)">
							<i class="fa fa-plus-circle"></i> Type
						</a>

						<br />
						
						<span ng-repeat="(key,rule) in data">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input type="text" class="form-control" value="{{key}}" />
							<a class="darkGray btn btn-xs" ng-click="addRule(id,key)">
								<i class="fa fa-plus-circle"></i> Rule
							</a>

							<br />

							<span ng-repeat="(item, val) in rule">
								<span ng-repeat="(i, r) in val">
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<input type="text" class="form-control" value="{{i}}" />
									: 
									<input type="text" class="form-control" ng-show="showExpressions" value="{{r}}" />
									<div class="btn-group">
										<a class="darkGray btn btn-xs" ng-click="createExpression(id,key,item,i,r)">
											<i class="fa fa-plane"></i>
										</a>
										<a class="darkGray btn btn-xs" ng-click="removeRule(id,key,item,i)">
											<i class="fa fa-minus-circle"></i>
										</a>
									</div>
									<br />
								</span>
							</span>

						</span>
						
					</div>
				</form>
			</div>
			<div class="panel-footer">
				<button class="btn btn-sm btn-primary" ng-click="save()" ><i class="fa fa-floppy-o"></i> Save Rule</button>
			</div>
		</div>
	</div>
</div>