<div class="modal-header bg-primary">
	<button type="button" class="close" ng-click="closeDialog()" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Rule Expression Builder</h4>
</div>

<div class="modal-body">

	<label for="modelName">Example String To Test</label><br />
	<input type="text" class="form-control" ng-model="testStr" ng-change="getValidExpressions(testStr)" />

	<label>Possible Matches</label><br />
	<table>
		<tr>
			<td class="row" ng-repeat="(id,data) in allWords track by id">
				<table border="1" ng-show="data != ''">
					<tr>
						<td class="text-center" ng-repeat="(num,letter) in data track by num">
							{{letter}}<br />
							<a href="" ng-click="addChr()">chr</a>
						</td>
					</tr>
					<tr>
						<td class="text-center" colspan="{{data.length}}"><a href="" ng-click="addWord()">word</a></td>
						<td class="text-center" ng-if="!$last"><a href="" ng-click="addSpace()">space</a></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

</div>

<div class="modal-footer">
	<button class="btn btn-success btn-sm" title="Continue" ng-click="confirm()">
		<i class="fa fa-check-circle"></i> Ok
	</button>
	<button class="btn btn-default btn-sm" title="Cancel" ng-click="closeDialog()">
		<i class="fa fa-times-circle"></i> Cancel
	</button>
</div>