<div class="row">
	<div  class="dashboardNotifier bg-primary">
		<omni-nav-history></omni-nav-history>
		<local-time ng-cloak class="pull-right hidden-xs"></local-time>
	</div>
	<div  class="dashboardOptions darkGray" style="height:36px;">

	</div>
</div>

<div class="row">

	<div class="col-md-12" style="margin-top:20px; margin-left:20px; margin-right:20px; padding-left: 38px;">

		<div>
		<button class="btn btn-primary btn-sm pull-right" style="margin-bottom:5px"  ng-csv="itemsArray" filename="ReportingTableData.csv">
		<i class="fa fa-download"></i> Export to CSV
		</button>
		</div>
		<br/><br/><br/>

		<div ng-if="dataReady" class="gridStyle"  ng-grid="gridOptions"></div>

    </div>
</div>
