
<div ng-class="{'panel': config.showPanel ,'panel-default': config.showPanel, 'widgetPrimary': config.bgColor == 'blue' &&  config.showPanel, 'widgetSuccess': config.bgColor == 'green' &&  config.showPanel, 'widgetInfo': config.bgColor == 'lightBlue' &&  config.showPanel, 'widgetWarning': config.bgColor == 'yellow' &&  config.showPanel, 'widgetDanger': config.bgColor == 'red' &&  config.showPanel,'widgetGray': config.bgColor == 'gray' &&  config.showPanel,'darkGray': config.bgColor == 'darkGray' &&  config.showPanel}" ng-style="{'margin-top': config.marginTop, 'margin-bottom' : config.marginBottom}">
	<div class="panel-body">

<div  class="panel panel-default" style="color:#444">
	<div class="panel-heading">
		<p class="panel-title"><i class="fa fa-cogs"></i> Device Command Center</p>
	</div>
	<div class="panel-body">
		
		<div ng-if="dataLoading > 0" ng-class="{'panel-body': config.showPanel}" class="text-center">
			<h3><i class="fa fa-spinner fa-spin text-info"></i></h3>
			<strong>Data Loading ...</strong>
		</div>

		<div class="row">
			<div class="col-md-12">
				<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
			</div>
		</div>

		<div ng-show="devices.length > 0">
			<input type="text" ng-model="search" placeholder="Search" class="form-control ng-pristine ng-valid">
			<div style="max-height: 250px; overflow-y: scroll;">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
					<th><!--<input type="checkbox" ng-click="setResetAllPoints($event)"/>--></th>
					<th>Device Name</th>
					<th>Point Type</th>
					<th>Point Value</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="device in devices | filter:search">
					<td><input type="checkbox" name="chk_{{ device._id }}" ng-click="setResetDeviceSelected($event,device)"/></td>
					<td>{{ device.Name }}</td>
					<td>{{ PointTypeName }}</td>
					<td>{{ device.PointValue }}</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>

		<div ng-show="!devices.length">No devices found</div>

		<div class="form-group" style="margin-top:10px" ng-show="showCommandSetup">

			<hr/>

			<div ng-include="editorTemplate()"></div>
			
			<button ng-show="" class="btn btn-primary" ng-click="sendCommand(commandValue)">Send Command</button>

		</div>

	</div>
</div>
</div>
</div>