<div class="modal-header bg-primary">
	<button type="button" class="close" ng-click="closeDialog()" aria-hidden="true">&times;</button>
	<h4 class="modal-title"><i class="fa fa-list"></i> Instructions</h4>
</div>
<div class="modal-body">
	<div ng-class="panel-body" class="text-center">
		<strong>Please select an item from the drop down to start searching for alarms.</strong>
	</div>
	<br/>
	<a class="btn btn-default  btn-block" title="OK" ng-click="closeDialog()">
		<i class="fa fa-check-circle" style="font-weight:bold;"> OK </i>
	</a>
</div>
