<div class="modal-header bg-primary">
	<button type="button" class="close" ng-click="closeDialog()" aria-hidden="true">&times;</button>
	<h4 class="modal-title"><i class="fa fa-search"></i> Search {{ viewName }}</h4>
</div>
<div class="modal-body">
	<div ng-if="!dataLoaded" ng-class="panel-body" class="text-center">
		<h3>
			<i class="fa fa-spinner fa-spin text-info"></i>
		</h3>
		<strong>Data Loading ...</strong>
	</div>
	<div ng-class="panel-body" ng-show="dataLoaded">
		<div style="margin-bottom:8px;">
			<input type="text" name="model-search" ng-model="search" placeholder="Search" class="form-control ng-pristine ng-valid">
		</div>
		<div class="panel panel-default" style="margin-bottom:8px;">
			<div class="panel-body" style="max-height:418px;  overflow-y:scroll;">
				<div >
					<div class="list-group"  ng-model="modelPoint" >
						<div ng-repeat="data in dataList | filter:search" >
							<div><a href="" class="list-group-item" ng-click="closeDialog(data)">{{data.value}}</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a class="btn btn-default  btn-block" title="Cancel" ng-click="closeDialog()">
		<i class="fa fa-times-circle"></i> Cancel
	</a>
</div>