<!doctype html>
<html lang="en" ng-app="kickface">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="http://www.ttmartialarts.com/">
	<title>KickFace</title>
	<% styles.forEach( function ( file ) { %>
	<link rel="stylesheet" type="text/css" href="<%= file %>" />
	<% }); %>
</head>
<body>
	<div ui-view autoscroll="true">
		<div class="row">
			<div class="col-lg-12 text-center">
				<i class="fa fa-spinner fa-spin fa-5x text-info"></i><br />
				<h2 style="color:#fff">LOADING</h2>
			</div>
		</div>
	</div>
	<!-- compiled JS -->
	<% scripts.forEach( function ( file ) { %>
	<script type="text/javascript" src="<%= file %>"></script>
	<% }); %>
</body>
</html>