<div class="modal-header bg-primary">
	<button type="button" class="close" ng-click="closeDialog()" aria-hidden="true">&times;</button>
	<h4 class="modal-title"><i class="fa fa-user"></i> Select Permissions</h4>
</div>
<div class="modal-body">
	<div ng-class="panel-body">
		<div class="panel panel-default" style="margin-bottom:10px;">
			<div class="panel-body" style="margin-left:15px;/*max-height:418px; overflow-y:scroll;*/">
				<div class="row">
					<div ng-if="permissions['Add']" class="checkbox">
						<label>
							<input ng-model="module.add" type="checkbox"> Add
						</label>
					</div>
					<div ng-if="permissions['Edit']" class="checkbox">
						<label>
							<input ng-model="module.edit" type="checkbox"> Edit
						</label>
					</div>
					<div ng-if="permissions['Delete']" class="checkbox">
						<label>
							<input ng-model="module.del" type="checkbox"> Delete
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
    <a class="btn btn-primary btn-small" title="Save" ng-click="savePermissionChoices()">
		<i class="fa fa-save" style="font-weight:bold;"> Save </i>
    </a>
	<a class="btn btn-default btn-small" title="Cancel" ng-click="closeDialog()">
		<i class="fa fa-times" style="font-weight:bold;"> Cancel </i>
	</a>
</div>