<div class="row">
	<div class="col-md-12">
		<div class="button-group pull-right">
			<button type="button" class="btn btn-primary" ng-click="saveRights()" ng-disabled="saving || !rightsChanged"><i ng-class="{fa:true, 'fa-play-circle':!saving, 'fa-spinner':saving, 'fa-spinning':saving }"></i> Apply</button>
			<br>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-3">
		<h4><i class="fa fa-bullseye"></i> Scope</h4>
		<select class="form-control input-md" ng-model="securityScope" ng-change="updateSecurityScope(securityScope)" ng-options="name as name for (name,scope) in securityScopes">
			<option value="{{null}}">[Select a Scope]</option>
		</select>

		<div ng-show="securityScopeModelItems">
			<br>
			<select class="form-control input-md" ng-model="securityScopeModelItem" ng-change="updateSecurityScopeModelItem(securityScopeModelItem)" ng-options="id as modelItem.Name for (id,modelItem) in securityScopeModelItems">
				<option value="{{null}}">[Select an Item]</option>
			</select>
		</div>
		<hr>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-users text-primary"></i> Users</h3>
			</div>
			<center> <h4 style=" margin-top:0px; margin-bottom:0px; padding:5px;" class=" bg-info">Drag users right to assign rights. <i class="fa fa-arrow-circle-right"></i></h4></center>
			<div ui-tree="rightsTreeOptions">
				<div class="list-group" ui-tree-nodes="" ng-model="availableUsers" data-nodrop>
					<div ng-repeat="user in availableUsers" ui-tree-node>
						<div class="list-group-item" >
							<i class="fa fa-bars fa-rotate-90 pull-left" ui-tree-handle></i>
							<a ng-click="showUserDetail(user.uid)" href="">{{user.Lastname}}, {{user.Firstname}}</a>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<small class="text-muted">Drag a User from here to one of the lists on the right to assign rights. <i class="fa fa-long-arrow-right text-primary"></i></small>
			</div>
		</div>
	</div>

	<div class="col-md-9" >
		<div class="panel panel-primary" style="display:inline-block; width:200px; margin-right:10px; vertical-align:top" ng-repeat="(right,rightObject) in allRights">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-users"></i> {{right}}</h3>
			</div>
			<div ui-tree="rightsTreeOptions" data-empty-place-holder-enabled="true">
				<div class="list-group" ui-tree-nodes="" ng-model="rightsArray[right]" data-nodrag>
					<div ng-repeat="user in rightsArray[right]" ui-tree-node>
						<div class="list-group-item" >
							<span>{{user.Lastname}}, {{user.Firstname}}</span>
							<a ng-click="removeRight($index, right)" href=""><i class="text-danger fa fa-times pull-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
