<div class="modal-header bg-primary">
	<button type="button" class="close" ng-click="closeDialog()" aria-hidden="true">&times;</button>
	<h4 class="modal-title"><i class="fa fa-user"></i> User Details</h4>
</div>
<div class="modal-body">
	<div ng-if="!name" ng-class="panel-body" class="text-center">
		<h3>
			<i class="fa fa-spinner fa-spin text-info"></i>
		</h3>
		<strong>Data Loading ...</strong>
	</div>
	<div ng-class="panel-body" ng-show="name">
		<div class="panel panel-default" style="margin-bottom:10px;">
			<div class="panel-body" style="margin-left:15px;/*max-height:418px; overflow-y:scroll;*/">
				<div>
					<table>
						<tr ng-if="name"><td><label style="font-size:14px; font-family:verdana; font-style:italic; font-weight:bold; text-align:right">Name</label></td><td>:</td><td><span style="margin:2px;"></span><label style="color:#008cba; text-align:left">{{name}}</label></td></tr>
						<tr ng-if="userName"><td><label style="font-size:14px; font-family:verdana; font-style:italic; font-weight:bold; text-align:right">Username</label></td><td>:</td><td><span style="margin:2px;"></span><label style="color:#008cba; text-align:left">{{userName}}</label></td></tr>
						<tr ng-if="lastOnline"><td><label style="font-size:14px; font-family:verdana; font-style:italic; font-weight:bold; text-align:right">Last Login</label></td><td>:</td><td><span style="margin:2px;"></span><label style="color:#008cba; text-align:left">{{lastOnline | date:'yyyy-MM-dd HH:mm:ss Z'}}</label></td></tr>
						<tr><td><label style="font-size:14px; font-family:verdana; font-style:italic; font-weight:bold; text-align:right">Currently Online</label></td><td>:</td><td><span style="margin:2px;"></span><label ng-if="online" style="color:#008cba; text-align:left">Yes</label><label ng-if="!online" style="color:#008cba;">No</label></td></tr>
					<table>					
				</div>
			</div>
		</div>
	</div>
	<a class="btn btn-default  btn-block" title="OK" ng-click="closeDialog()">
		<i class="fa fa-check-circle" style="font-weight:bold;"> OK </i>
	</a>
</div>
